<div class="container" style="font-family: Arial, Helvetica, sans-serif" *ngIf="loadPage ; else skeleton">
  <div class="row" style="background: white; padding: 20px 0 20px 0;">
    <!--  -->
    <div class="col-3 account-sidebar" style="font-family: Arial, Helvetica, sans-serif">
      <div class="sidebar-head">
        <div class="profile-avatar">
          <a class="a-image" [routerLink]="['/user/info/', id]">
            <cl-image public-id="{{user.imageUrl}}" style="border-radius: 50px;">
              <cl-transformation width="360" height="360" gravity="face" radius="max" crop="fill" background="#e9ebee">
              </cl-transformation>
              <cl-transformation width="180" crop="scale">
              </cl-transformation>
            </cl-image>

          </a>
        </div>
        <h3 class="title" style="text-align: center;">
          <a title="Trang cá nhân">
            <span style="color: black;">{{user.name}}</span>
          </a>
        </h3>

        <div class="mem-statis-box" style="font-family: Arial, Helvetica, sans-serif">
          <span class="headline">
            {{user.level}}
          </span>
          <ng5-slider [(value)]="value" [options]="options"></ng5-slider>

          <div class="text">
            <a class="user-lv1 " title="0 - 100 điểm. Bạn là người quan tâm đến những món ăn ngon và đẹp"
              style="float: left; width: 20%; color: #00bcd4; font-size: 12px; font-weight: bold;">
              Newbee</a>
            <a class="user-lv1 " title="101 - 250 điểm. Bạn là chuyên gia nêm nếm thưởng thức món ăn"
              style="float: left; width: 20%; color: #ffc107;  font-size: 12px; font-weight: bold;">Tastee
            </a>
            <a class="user-lv1 " title="251 - 400 điểm. Bạn là người nấu ăn ngon"
              style="float: left;  width: 20%; color: #ff4f4f;  font-size: 12px; font-weight: bold;">Cookee
            </a>
            <a class="user-lv1 " title="401 - 600 điểm. Bạn là đầu bếp chuyên ngiệp"
              style="float: left; width: 20%; color: #a930ca;  font-size: 12px; font-weight: bold;">Chefee
            </a>
            <a class="user-lv1 " title="600 điểm trở lên. Vua đầu bếp"
              style="float: left; width: 20%; color: #ff0834;  font-size: 12px; font-weight: bold;">
              Mastee</a>
          </div>
        </div>
      </div>

      <div class="sidebar-content" style="font-family: Arial, Helvetica, sans-serif">
        <ul class="list-unstyled">
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/personal/recipe/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-align-center" style="margin-right: 5px;"></span>CÔNG THỨC CỦA TÔI
            </a>
          </li>

          <li class="menu-list-a">
            <a class="hover-a" routerLink="/myGallery"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-bookmark" style="margin-right: 5px;"></span>BỘ
              SƯU TẬP CỦA TÔI
            </a>
          </li>
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/user/info/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-user" style="margin-right: 5px;"></span>THÔNG
              TIN TÀI KHOẢN
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="col-8 page-account-info" style="font-family: Arial, Helvetica, sans-serif">
      <h3>Công thức của tôi</h3>
      <ul class="nav nav-tabs" style="text-align: center;">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">
            Đã duyệt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pending"> Chờ duyệt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#refuse"> Từ chối</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container tab-pane active">
          <br />
          <!------------------ Hover Effect Style : Demo - 13 --------------->
          <div class="container mt-40">
            <div class="row mt-30">
              <div class="col-md-4 col-sm-6"
                *ngFor="let recipe of acceptRecipe|paginate:{itemsPerPage: 6, currentPage:p};let i = index">
                <div class="box13">
                  <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                    <cl-transformation width="203" height="203" crop="scale" quality="auto">
                    </cl-transformation>
                  </cl-image>
                  <div class="box-content">
                    <a class="title" [routerLink]="['/detail/', recipe.nameSpace]"
                      style="color: white; font-size: 15px;">
                      {{recipe.recipeName}}</a>

                    <a style="color: white;">

                      &#160;
                      <i class="fa fa-clock-o stats-ico" aria-hidden="true"> {{recipe.time}}ph</i>

                      &#160;
                      <i class="fa fa-bar-chart stats-ico" aria-hidden="true">

                        {{recipe.viewCount}}
                      </i>
                      <i class="fa fa-bolt stats-ico" aria-hidden="true">&#160;{{recipe.hardLevel}}</i>
                    </a>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <br>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!--  -->
        <div id="pending" class="container tab-pane fade">
          <br />
          <div class="container mt-40">
            <div class="row mt-30">
              <div class="col-md-4 col-sm-6" *ngFor="let recipe of waitingRecipe;let i = index">
                <div class="box13">
                  <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                    <cl-transformation width="203" height="203" crop="scale" quality="auto">
                    </cl-transformation>
                  </cl-image>
                  <div class="box-content">
                    <a class="title" [routerLink]="['/detail/', recipe.nameSpace]"
                      style="color: white; font-size: 15px;">
                      {{recipe.recipeName}}</a>

                    <a style="color: white;">

                      &#160;
                      <i class="fa fa-clock-o stats-ico" aria-hidden="true"> {{recipe.time}}ph</i>

                      &#160;
                      <i class="fa fa-bar-chart stats-ico" aria-hidden="true">

                        {{recipe.viewCount}}
                      </i>
                      <i class="fa fa-bolt stats-ico" aria-hidden="true">&#160;{{recipe.hardLevel}}</i>
                    </a>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <br>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
        <!--  -->
        <div id="refuse" class="container tab-pane fade">
          <br />
          <div class="container mt-40">
            <div class="row mt-30">
              <div class="col-md-4 col-sm-6" *ngFor="let recipe of decilineRecipe;let i = index">
                <div class="box13">
                  <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                    <cl-transformation width="203" height="203" crop="scale" quality="auto">
                    </cl-transformation>
                  </cl-image>
                  <div class="box-content">
                    <a class="title" [routerLink]="['/detail/', recipe.nameSpace]"
                      style="color: white; font-size: 15px;">
                      {{recipe.recipeName}}</a>

                    <a style="color: white;">

                      &#160;
                      <i class="fa fa-clock-o stats-ico" aria-hidden="true"> {{recipe.time}}ph</i>

                      &#160;
                      <i class="fa fa-bar-chart stats-ico" aria-hidden="true">

                        {{recipe.viewCount}}
                      </i>
                      <i class="fa fa-bolt stats-ico" aria-hidden="true">&#160;{{recipe.hardLevel}}</i>
                    </a>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <br>
          <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #skeleton>
  <!-- <main class="container mt-2">
    <div class="row">
      <div class="col-4 col-lg-2 p-2">
        <div class="user-img m-2 mr-auto ml-auto">
          <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
        </div>
      </div>
      <div class="col-8 col-lg-10 pt-3 sm-text-center">
        <h2 class="display-5 text-capitalize sm-mr-auto sm-ml-auto"></h2>
        <p class="lead sm-mr-auto sm-ml-auto"></p>
        <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
      </div>
    </div>
  </main> -->
  <section style="width: 100%; min-height: auto;">
    <!-- <div class="pt-2 pb-4 text-center">
      <h5 class="mr-auto ml-auto"></h5>
    </div> -->
    <div class="container">

      <div class="row">
        <div class="col-3 account-sidebar">

          <h5 class="card-title"
            style="height: 180px;border-radius: 90px; width: 190px;margin-top: 10px;margin-left: 30px;">
          </h5>
          <p class="card-text" style="width: 250px;"></p>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto"
              style="height: 20px;width: 100px;margin-left: 50px;"></a>
          </div>
          <br>
          <br>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 10px;width: 250px;"></a>
          </div>
          <br>
          <br>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 200px;"></a>
          </div>
        </div>
        <div class="col-8 page-account-info">
          <h3>Công thức của tôi</h3>
          <div class="row">
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 mb-4">
            <div class="card ">
              <img class="card-img-top"  alt=" ">
              <div class="card-body text-center">
                <h5 class="card-title" style="height: 250px;margin-left: -15px; width: 115%;"></h5>
                <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
      </div>

    </div>
  </section>
</ng-template>