ul {
  max-width: 95%;
  background: white;
  color: #333;
  list-style: none;
  margin: 20px auto;
  padding: 10px;
  box-shadow: #6699CC;
}

.list li {
  padding: 25px;
  background: #f6faf1;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 100;
}

.center {
  text-align: center;
}
.frame {
  width: 450px;
  height: 350px;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 15px 25px;
}
img {
  width: 100%;
  height: 100%;
}
.hover:hover{
  width: 110%;
  height: 110%;
}
.call-to-action {
  margin: 5% 0;
  background: url(../../../assets/images/bg-01.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  background-position: 50% 90%;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.call-to-action p {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
}

.call-to-action .btn-primary {
  padding: 20px;
  font-size: 16px;
}

.call-to-action .btn-primary:hover {
  background: transparent;
}

.frame {
  width: 450px;
  height: 350px;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 15px 25px;
}
img {
  width: 100%;
  height: 100%;
}
.call-to-action {
  margin: 5% 0;
  background: url(../../../assets/images/bg-01.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  background-position: 50% 90%;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.call-to-action p {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
}

.call-to-action .btn-primary {
  padding: 20px;
  font-size: 16px;
}

.call-to-action .btn-primary:hover {
  background: transparent;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}
.counter-item {
  position:relative;
  text-align:center;
  margin-bottom: 40px;
  background: #fff;
  padding: 0 20px 40px 20px;
}

.counter-item p {
  padding-bottom: 10px;
  color: #111;
}

.counter-item h3 {
  text-align:center;
  margin-bottom:0px;
  color:#111;
  text-transform: none;
  font-size: 20px;
}

.counter-item i {
  font-size:40px;
  color: #fff;
  background: #3EEB19;
  padding: 40px 0;
  margin: -20px 5% 0;
  width: 80%;
}


.timer {
  padding: 10px 0;
  color: #111;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  background: #fff;
  margin: 0 30%;
  width: 40%;
  height: 30px;
}
h2:empty, h3:empty, .h4:empty, h5:empty, p:empty, a:empty, img:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
}
ul.user-nav li .link-desc-skel{
  background: #fff;
  border-bottom: 5px solid #f2f3f5;
  padding: 10px;
  margin-bottom: 30px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

img:empty.card-img-top{

  min-height: 189.75px;
  border: 0;
}

h2:empty{
  height: 38px;
  width: 200px;
}

h3:empty {
  height: 22px;
  width: 200px;
}
h5:empty{
  height: 30px;
  width: 200px;
}

a:empty{
    width: 100px;
    height: 40px;
    border: 0;
}
h4:empty {
  height: 18px;
  width: 200px;
}

p:empty {
  height: 18px;
  width: 200px;
} 
p:empty.lead {
  height: 30px;
  width: 200px;
}
@keyframes loading {
0% {
background-position: -100px;
}

100% {
background-position: 200px;
}
}
@media (max-width: 576px) { 
.sm-text-center {
  text-align: center;
}
h5:empty{
  width: 400px;
}
p:empty.card-text{
  width: 400px;
}
.sm-mr-auto{margin-right:auto!important}
.sm-ml-auto{margin-left:auto!important}
}
@media (max-width: 420px) { 
.col-xxs-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
h5:empty{
  width: 300px;
}
p:empty.card-text{
  width: 300px;
}
}