<app-nav></app-nav>
<div style="height: 350px; position: relative;">
    <div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%;"></div>
    <a class="glow" style="color: white; top: 15%;left: 33%; position: absolute;">Ẩm thực món chay truyền thống</a>
    <div class="form" style="width: 50%; margin-top: 10%; margin-left: 25%;">
        <input title="Search" value="" type="submit" class="button">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Tìm kiêm công thức" style="width: 90%;">

    </div>
    <div style="width: 90%; top: 70%; left: 5%;   height:100px;position: absolute;">
        <a style="width: 130px;height: 80px; text-align: center;font-size: 12px;padding: 2px 2px; float: left;margin-right: 20px; position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/quickeasy.png" /><span
                style="position: absolute; bottom: 2px; left: 45px;">Nhanh dễ</span></a>

        <a style="width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left;margin-right: 20px;position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/cake.64.png" /><span
                style="position: absolute; bottom: 2px; left: 42px;">Bánh chay</span></a>
        <a style="width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left;margin-right: 20px;position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/healthy.png" /><span
                style="position: absolute; bottom: 2px; left: 35px;">Rau
                củ quả</span></a>
        <a style="width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left; margin-right: 20px;position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/maincourse.png" /><span
                style="position: absolute; bottom: 2px; left: 40px;">Món chính</span></a>
        <a style="width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left;margin-right: 20px;position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/salad.64.png" /><span
                style="position: absolute; bottom: 2px; left: 45px;">Sallad</span></a>
        <a style="width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left; margin-right: 20px;position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/sauce.png" /><span style="position: absolute; bottom: 2px; left: 40px;">Nước
                chấm</span></a>
        <a style=" width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left; margin-right: 20px; position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/noodle.png" /><span style="position: absolute; bottom: 2px; left: 45px;">Món
                nước</span></a>
        <a style=" width: 130px;height: 80px;text-align: center;font-size: 12px;padding: 2px 2px; float: left; margin-right: 20px; position: relative;"
            class="filter"><img style="width: 10%; width: 36px;height: 36px;margin-top: 5%;"
                src="../../../assets/images/hotspot.png" /><span
                style="position: absolute; bottom: 2px; left: 45px;">Món Lẩu</span></a>
    </div>
</div>
<div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%; margin-bottom: 2%;"></div>
<a class="a-title" style="margin-left: 5%; font-size: 20px;">CÔNG THỨC NỔI BẬT</a>
<div style="width: 90%; margin-left: 5%; min-height: auto;" class="row" data-aos="fade-in" data-aos-duration="4000">

    <div class=".col-md-8" *ngFor="let recipe of recipes| filter:searchText | paginate: config; let i=index"
        style="position: relative;margin-bottom: 100px;">
        <div class="hover15 column"
            style="float: left; margin-left: 3%; width: 30%; position: relative; text-align: center;">
            <div [routerLink]="['/detail/', recipe._id]">
                <figure>
                    <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                        <cl-transformation width="200" height="280" crop="crop" quality="auto">
                        </cl-transformation>
                    </cl-image>
                </figure>

            </div>
            <a class="link-name"
                style="bottom:20px;left: 80px; -webkit-line-clamp: 3; position: absolute; min-width:150px; max-width: 200px;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;text-decoration: none; font-style: inherit;font-size: 16px;font-family: 'Roboto slab',  serif; color: rgb(0, 0, 0);"
                [routerLink]="['/detail/', recipe._id]">{{recipe.recipeName}}</a>

            <div style="top:340px;left:  2px; position: absolute; font-size: 12px; opacity: 0.8; ">&#160;
                <i class="fa fa-clock-o stats-ico" aria-hidden="true"> {{recipe.time}}ph</i>
            </div>
            <div style="top:340px;left: 43px; position: absolute; font-size: 12px;opacity: 0.8;  ">&#160;
                <i class="fa fa-bar-chart stats-ico" aria-hidden="true">

                    {{recipe.viewCount}}
                </i>
            </div>
            <div style="top:340px;left: 78px; position: absolute; font-size: 12px;opacity: 0.8;  ">
                <i class="fa fa-bolt stats-ico" aria-hidden="true">&#160;{{recipe.hardLevel}}</i>
            </div>
            <div
                style="top:370px;left: 50px; position: absolute; font-size: 12px;opacity: 0.8; width: 240px; height: 1px; background: gray;  ">

            </div>
            <span (click)="likeRecipe(recipe,i)" *ngIf="!recipe.like;else other_content"
                style="position: absolute; left:270px; bottom: 20%;"><i id="heart{{i}}" class="fa fa-heart fa-3x heart"
                    aria-hidden="true"></i></span>
            <ng-template #other_content>
                <span (click)="dislikeRecipe(recipe,i)" style="position: absolute; left:270px; bottom: 20%;"><i
                        class="fa fa-heart fa-3x dislikeheart " id="heart{{i}}" aria-hidden="true"></i></span>
            </ng-template>
            <div style="top:375px;left: 40px; position: absolute; font-size: 12px;margin-left: 10px; ">
                <a title="{{recipe.user.name}}" [routerLink]="['/member/info/', recipe.user._id]">
                    <cl-image public-id="{{recipe.user.imageUrl}}" style="border-radius: 50px;">
                        <cl-transformation width="100" height="100" gravity="face" radius="max" crop="fill"
                            background="#e9ebee">
                        </cl-transformation>
                        <cl-transformation width="75" crop="scale">
                        </cl-transformation>
                    </cl-image>&#160;{{recipe.user.name}}
                </a>
                <a class="button_slidehr slide_downhr" style="margin-left: 50px;" id="bookmark{{i}}"
                    (click)="addBookmark(recipe)"></a>
            </div>
            <span *ngIf="recipe.videoLink" (click)='video(recipe.videoLink)'><i class="fa fa-play-circle-o fa-3x play"
                    aria-hidden="true" style="top:40%;left:155px;width: 30%;"></i></span>
        </div>
    </div>

</div>
<br><br><br>
<pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 25%;"></pagination-controls>

<div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%; margin-bottom: 2%;"></div>
<div class="clearfix"></div>
<a class="a-title" style="margin-left: 5%; font-size: 20px;">BỘ SƯU TẬP NỔI BẬT</a>
<!------------------ Hover Effect Style : Demo - 15 --------------->
<div class="container mt-40">

    <div class="row mt-30">
        <div class="col-md-3 col-sm-6" *ngFor="let gallery of galleryTop;let i = index" style="margin-top: 50px;">
            <div class="box15">
                <cl-image public-id="{{gallery.image}}">
                    <cl-transformation width="255" height="349" crop="scale" quality="auto" radius="2">
                    </cl-transformation>
                </cl-image>
                <div class="box-content">
                    <h3 class="title" style=" width: 96% ; text-align: center;"
                        [routerLink]="['/galleryDetail/', gallery._id]">{{gallery.name}}
                    </h3>

                    <ul class="icon" style=" bottom:100px ;">
                        <li><a><i class="fa fa-heart " *ngIf="!gallery.like;else other_content"></i>
                                <ng-template #other_content> <i class="fa fa-heart " aria-hidden="true"></i>
                                </ng-template>

                            </a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%; margin-bottom: 2%;"></div>
<div class="clearfix"></div>
<a class="a-title" style="margin-left: 5%; font-size: 20px;">TOP THÀNH VIÊN</a>
<div class="clearfix" style="width: 10px;"></div>
<br><br><br>
<div style="width: 90%; margin-left: 5%; min-height: auto;" data-aos="fade-in" data-aos-duration="4000">

    <div *ngFor="let user of topUsers"
        style=" float: left;border-radius: 50%; background: none; width: 120px; position: relative;">
        <div class="memberfunny">
            <!-- <div>
                <figure style="padding: 15% 10%;"> -->
            <!-- <cl-image public-id="{{recipe.imageUrl}}">
                        <cl-transformation width="200" height="280" crop="crop" quality="auto">
                        </cl-transformation>
                    </cl-image> -->
            <!-- </figure> -->
            <a title="{{user.name}}">
                <cl-image public-id="{{user.imageUrl}}" style="border-radius: 50px;">
                    <cl-transformation width="100" height="100" gravity="face" radius="max" crop="fill"
                        background="#e9ebee">
                    </cl-transformation>
                    <cl-transformation width="75" crop="scale">
                    </cl-transformation>
                </cl-image>
            </a>

            <!-- </div> -->

        </div>
        <!-- <a class="link-name" routerLink="/detail/{{recipe._id}}">{{user.userName}}</a> -->
        <!-- <cl-image _ngcontent-ywn-2="" public-id="{{recipe.imageUrl}}" class="thumbnail inline" format="jpg"
        ng-reflect-public-id="mypic">
        <img
            src="https://res.cloudinary.com/am-thuc-an-chay/image/upload/v1582782664/angular_sample/{{recipe.imageUrl}}">
    </cl-image> -->
        <!-- <cl-image public-id="{{recipe.imageUrl}}">
                <cl-transformation width="300" height="150" radius="20" crop="pad" border="2px_solid_black" quality="auto" fetch-format="auto">
                </cl-transformation>
            </cl-image> -->
        <!-- <cl-image public-id="{{recipe.imageUrl}}">
                <cl-transformation width="200" height="300" crop="crop" radius="20" quality="auto">
                </cl-transformation>
            </cl-image> -->
        <!-- <cl-image public-id="{{recipe.imageUrl}}">
                <cl-transformation width="200" height="300" gravity="auto" background="white" crop="fill_pad"
                    radius="20" border="1px_solid_grey">>
                </cl-transformation>
            </cl-image> -->
        <!-- <a routerLink="/detail/{recipe}}">{{recipe.recipeName}}</a> -->

    </div>

</div>
<div class="clearfix"></div>
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" *ngIf="!isAuthenicate"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Đăng nhập</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-container" style="max-width: 500px;">
                    <img id="profile-img" class="profile-img-card" src="../../../assets/images/avatar_2x.png" />
                    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
                        <input type="text" id="email" class="form-control" name="email" autocomplete="off"
                            #uname="ngModel" [(ngModel)]="userObject.email" placeholder="email"
                            title="Please enter the email" required autofocus>
                        <input type="password" id="password" class="form-control" name="password" autocomplete="off"
                            #upass="ngModel" [(ngModel)]="userObject.password" placeholder="Password"
                            title="Please enter the password" required>
                        <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode"
                            autocomplete="off" #authcode="ngModel" [(ngModel)]="userObject.authcode"
                            placeholder="Two-Factor Auth code" title="Please enter the code" required>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                            [disabled]="email?.errors?.required || upass?.errors?.required || (this.tfaFlag && authcode?.errors?.required)">Đăng
                            nhập</button>
                        <p style="text-align:center;">Tài khoản mới ? <a [routerLink]="['/register']">Đăng ký</a>
                        </p>
                        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
                    </form>
                    <hr style="border-top: 1px solid #eee;">
                 
                </div>
            </div>
        </div>
    </div>
</div> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" id="modal-button1"
    hidden>Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="height: auto;min-height: 600px;">
    <div class="modal-dialog modal-lg" role="document" style="height: auto;min-height: 600px;">
        <div class="modal-content" style="height: auto; margin-bottom: 50px;min-height: 600px;">
            <div class="modal-header">
                <ha class="modal-title" id="exampleModalLongTitle">Danh sách bộ sưu tập</ha>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container mt-40">
                <h5 class="text-left">Bộ sưu tập cá nhân</h5>
                {{message}}
                <div class="row mt-30">
                    <div class="col-md-4 col-sm-6" *ngFor="let gallery of personalGallery" style="margin-bottom: 30px;">
                        <div class="box3" (click)="addRecipeBookMark(gallery._id)">
                            <cl-image public-id="{{gallery.image}}">
                                <cl-transformation height="171" width="235" crop="scale">
                                </cl-transformation>
                            </cl-image>
                            <div class="box-content">
                                <a class="title" style="font-size: 14px;">{{gallery.name}}</a>
                                <div style="float: left; width: 100%; height:0.5px; background: white;"></div>
                                <p class="description">
                                    {{gallery.content}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-scroll-top></app-scroll-top>