<div class="container" style="font-family: Arial, Helvetica, sans-serif" *ngIf="loadPage ; else skeleton">
  <div class="row" style="background: white; padding: 20px 0 20px 0;">
    <!--  -->
    <div class="col-3 account-sidebar" style="font-family: Arial, Helvetica, sans-serif">
      <div class="sidebar-head">
        <div class="profile-avatar">
          <a class="a-image" [routerLink]="['/user/info/', id]">
            <cl-image public-id="{{user.imageUrl}}" style="border-radius: 50px;">
              <cl-transformation width="360" height="360" gravity="face" radius="max" crop="fill" background="#e9ebee">
              </cl-transformation>
              <cl-transformation width="180" crop="scale">
              </cl-transformation>
            </cl-image>

          </a>
        </div>
        <h3 class="title" style="text-align: center;">
          <a title="Trang cá nhân">
            <span style="color: black;">{{user.name}}</span>
          </a>
        </h3>

        <div class="mem-statis-box" style="font-family: Arial, Helvetica, sans-serif">
          <span class="headline">
            {{user.level}}
          </span>
          <ng5-slider [(value)]="value" [options]="options"></ng5-slider>

          <div class="text">
            <a class="user-lv1 " title="0 - 100 điểm. Bạn là người quan tâm đến những món ăn ngon và đẹp"
              style="float: left; width: 20%; color: #00bcd4; font-size: 12px; font-weight: bold;">
              Newbee</a>
            <a class="user-lv1 " title="101 - 250 điểm. Bạn là chuyên gia nêm nếm thưởng thức món ăn"
              style="float: left; width: 20%; color: #ffc107;  font-size: 12px; font-weight: bold;">Tastee
            </a>
            <a class="user-lv1 " title="251 - 400 điểm. Bạn là người nấu ăn ngon"
              style="float: left;  width: 20%; color: #ff4f4f;  font-size: 12px; font-weight: bold;">Cookee
            </a>
            <a class="user-lv1 " title="401 - 600 điểm. Bạn là đầu bếp chuyên ngiệp"
              style="float: left; width: 20%; color: #a930ca;  font-size: 12px; font-weight: bold;">Chefee
            </a>
            <a class="user-lv1 " title="600 điểm trở lên. Vua đầu bếp"
              style="float: left; width: 20%; color: #ff0834;  font-size: 12px; font-weight: bold;">
              Mastee</a>
          </div>
        </div>
      </div>

      <div class="sidebar-content" style="font-family: Arial, Helvetica, sans-serif">
        <ul class="list-unstyled">
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/personal/recipe/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-align-center" style="margin-right: 5px;"></span>CÔNG THỨC CỦA TÔI
            </a>
          </li>

          <li class="menu-list-a">
            <a class="hover-a" routerLink="/gallery"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-bookmark" style="margin-right: 5px;"></span>BỘ
              SƯU TẬP CỦA TÔI
            </a>
          </li>
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/user/info/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-user" style="margin-right: 5px;"></span>THÔNG
              TIN TÀI KHOẢN
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="col-8 page-account-info" style="font-family: Arial, Helvetica, sans-serif">

      <div class="row">
        <div class="col-8">
          <h6>Bộ sưu tập của tôi</h6>
        </div>
        <div class="col-4">
          <app-add-gallery></app-add-gallery>
        </div>
      </div>
      <div class="container mt-40">
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;"
            *ngFor="let gallery of myGallery|paginate:{itemsPerPage: 6, currentPage:p};let i = index">
            <div class="box13">

              <cl-image public-id="{{gallery.image}}" style="margin-top: 10px;">
                <cl-transformation width="203" height="203" crop="scale" quality="auto">
                </cl-transformation>
              </cl-image>
              <div class="box-content">
                <a class="title" [routerLink]="['/galleryDetail/', gallery._id]" style="color: white; font-size: 15px;">
                  {{gallery.name}}</a>

                <a style="color: white;font-size:10px;">

                  {{gallery.content}}
                  <br>

                </a>
              </div>
            </div>
            <br>
            <a class="register-button" title="Thêm công thức vào bộ sưu tập" (click)="registerGallery(gallery)"><i
                class="fa fa-edit" style="cursor: pointer;padding: 2px 8px;" aria-hidden="true">&#160;Chỉnh sửa bộ sưu
                tập</i></a>
            <!-- <app-app-recipe-gallery [childMessage]="gallery" id="gallery{{i}}"></app-app-recipe-gallery> -->
            <a class="eraser" title="Xóa bộ sưu tập cá nhân" (click)="openModal(gallery._id)"><i class="fa fa-trash-o"
                style="padding: 0 8px;color: #fd4e4e;cursor: pointer;" aria-hidden="true"></i></a>
            <hr>
          </div>
        </div>
        <br>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#staticBackdrop"
  id="modal-button28">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thông báo hệ thống</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{message}}
        <br>
        <br>
        <div class="row" *ngIf="deleteCheck">
          <div class="col">
            <button class="btn btn-success" style="float: right;" (click)="deleteGallery(deleteId)">Xóa</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
              Hủy
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-scroll-top></app-scroll-top>
<ng-template #skeleton>
  <!-- <main class="container mt-2">
    <div class="row">
      <div class="col-4 col-lg-2 p-2">
        <div class="user-img m-2 mr-auto ml-auto">
          <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
        </div>
      </div>
      <div class="col-8 col-lg-10 pt-3 sm-text-center">
        <h2 class="display-5 text-capitalize sm-mr-auto sm-ml-auto"></h2>
        <p class="lead sm-mr-auto sm-ml-auto"></p>
        <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
      </div>
    </div>
  </main> -->
  <section style="width: 100%; min-height: auto;">
    <!-- <div class="pt-2 pb-4 text-center">
      <h5 class="mr-auto ml-auto"></h5>
    </div> -->
    <div class="container">

      <div class="row">
        <div class="col-3 account-sidebar">

          <h5 class="card-title"
            style="height: 180px;border-radius: 90px; width: 190px;margin-top: 10px;margin-left: 30px;">
          </h5>
          <p class="card-text" style="width: 250px;"></p>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto"
              style="height: 20px;width: 100px;margin-left: 50px;"></a>
          </div>
          <br>
          <br>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 10px;width: 250px;"></a>
          </div>
          <br>
          <br>
          <div class="form-inline">
            <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 200px;"></a>
          </div>
        </div>
        <div class="col-8 page-account-info">
          Bộ sưu tập của tôi
          <div class="row">
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 mb-4">
            <div class="card ">
              <img class="card-img-top"  alt=" ">
              <div class="card-body text-center">
                <h5 class="card-title" style="height: 250px;margin-left: -15px; width: 115%;"></h5>
                <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div>
              </div>
            </div>
          </div> -->
          </div>
          <div class="row">
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card ">
                <!-- <img class="card-img-top"  alt=" "> -->
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 115%;"></h5>
                  <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 mb-4">
            <div class="card ">
              <img class="card-img-top"  alt=" ">
              <div class="card-body text-center">
                <h5 class="card-title" style="height: 250px;margin-left: -15px; width: 115%;"></h5>
                <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
      </div>

    </div>
  </section>
</ng-template>
<button type="button" id="add-recipe-gallery" class="btn btn-primary" style="display: none;" data-toggle="modal"
  data-target=".bd-example-modal-xl">Extra large modal</button>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content" style="height: 1000px;">
      <div class="modal-header" style="background: #00a02e;">
        <a style="color: white;">Chỉnh sửa thông tin bộ sưu tập</a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
      </div>
      <form class="form-signin" (ngSubmit)="updateGallery()" [formGroup]="registerForm" style="margin-top: 10px;">
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- <input type="text" id="name" class="form-control" placeholder="Tên bộ sưu tập" name="name" minlength="5"
                maxlength="200" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off"
                style="height:62px;" formControlName="name" /> -->
              <textarea id="content" class="form-control" name="name" autocomplete="off" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Nội dung bộ sưu tập "
                minlength="5" maxlength="200" title="Tên bộ sưu tập" required autofocus cols="12"
                style="width: 100%;"></textarea>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Bạn phải điền tên bộ sưu tập</div>
                <div *ngIf="f.name.errors?.minlength" style="margin-left: 5%;font-size: 12px;color: red;">
                  Tên bộ sưu tập chứa ít nhất 5 kí tự.
                </div>
                <div *ngIf="f.name.errors?.maxlength" style="margin-left: 5%;font-size: 12px;color: red;">
                  Tên bộ sưu tập chứa nhiều nhất 200 kí tự.
                </div>
              </div>
            </div>
            <div class="col-6">
              <textarea id="content" class="form-control" name="content" autocomplete="off" formControlName="content"
                [ngClass]="{ 'is-invalid': submitted && f.content.errors }" placeholder="Nội dung bộ sưu tập "
                minlength="20" maxlength="500" title="Nội dung bộ sưu tập" required autofocus cols="12"
                style="width: 100%;"></textarea>
              <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                <div *ngIf="f.content.errors.required">Bạn phải mô tả nội dung bộ sưu tập</div>
                <div *ngIf="f.content.errors?.minlength" style="margin-left: 5%;font-size: 12px;color: red;">
                  Nội dung bộ sưu tập chứa ít nhất 20 kí tự.
                </div>
                <div *ngIf="f.content.errors?.maxlength" style="margin-left: 5%;font-size: 12px;color: red;">
                  Nội dung bộ sưu tập chứa nhiều nhất 500 kí tự.
                </div>
              </div>
            </div>
            <div class="col">
              <button class="btn btn-lg btn-success btn-block btn-signin" type="submit"
                *ngIf="!saving;else other_content10;"
                style="width: 50%;margin-left: 30%;padding: 5px 5px;margin-top: 10px;">
                Lưu bộ sưu tập
              </button>
              <ng-template #other_content10>
                <div>

                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <!--        <div class=".col-md-8" id="gallery" style="position: relative; float: left; padding-left: 5px;"></div>-->

        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>
        <a style="padding-left: 100px;"> {{message}}</a>
      </form>
      <div class="container">

        <div class="row">

          <div class="col recipeLst">
            <a style="margin-top: 5px;">Danh sách tất cả công thức</a>
            <ul class="list">
              <cdk-virtual-scroll-viewport style="height: 600px" itemSize="40">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                  placeholder="Tìm kiêm công thức" style="width: 100%; display: block;
        cursor: pointer;">
                <ng-container *cdkVirtualFor="let recipe of recipes |filter:searchText; let j = index;">
                  <li>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <a style="font-size: 16px;">{{j+1}}</a>
                        </div>
                        <div class="col-6">
                          <a style="font-size: 16px;">{{recipe.recipeName}}</a>
                          <br>
                          <a style="font-size: 10px;">{{recipe.content}}</a>
                        </div>
                        <div class="col">
                          <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                            <cl-transformation width="80" height="80" crop="scale" quality="auto">
                            </cl-transformation>
                          </cl-image>

                          <a *ngIf="!recipe.like;else other_content" title="Thêm công thức vào bộ sưu tập"> <i
                              class="fa fa-check-circle fa-lg" id="icon{{ j }}" aria-hidden="true"
                              (click)="addRecipe(recipe, j)"></i></a>
                          <ng-template #other_content>
                            <a title="Loại công thức ra khỏi bộ sưu tập">
                              <i class="fa fa-check-circle fa-lg checkIcon" aria-hidden="true"
                                (click)="removeRecipe(recipe, j)"></i></a>
                          </ng-template>
                        </div>
                      </div>
                    </div>

                  </li>
                </ng-container>
              </cdk-virtual-scroll-viewport>
            </ul>
          </div>
          <div class="col recipeLst">
            <a style="margin-top: 5px;">Danh sách công thức của bộ sưu tập</a>
            <ul class="list">
              <cdk-virtual-scroll-viewport style="height: 600px" itemSize="30">
                <ng-container *cdkVirtualFor="let recipe of oldRecipes; let i = index;">
                  <li>
                    <div class="container">
                      <div class="row" id="old{{i}}">
                        <div class="col">
                          <a (click)="removeRecipe(recipe,i)" style="width: 7px; height: auto; margin-top: 20px;"
                            title="Xóa công thức ra khỏi bộ sưu tập"><i class="fa fa-trash-o buttonhover"
                              aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6">
                          <a style="font-size: 16px;">{{recipe.recipeName}}</a>
                          <br>
                          <a style="font-size: 10px;">{{recipe.content}}</a>
                        </div>
                        <div class="col">
                          <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
                            <cl-transformation width="60" height="60" crop="scale" quality="auto">
                            </cl-transformation>
                          </cl-image>
                        </div>
                      </div>
                    </div>

                  </li>
                </ng-container>
              </cdk-virtual-scroll-viewport>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>