<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/gioithieu">
              
              &rsaquo; Giới thiệu <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/quydinh">
             
              &rsaquo; Quy định 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chinhsachbaomat">
              
              &rsaquo; Chính sách
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chinhsachdiem" >
              
              &rsaquo; Chính sách điểm
            </a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link" href="#">
              
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Integrations
            </a>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 content"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="contact-content">
        <h1>Giới thiệu</h1>
        <p><a href="index.html" target="_self">Cooky.vn</a>&nbsp;được tạo nên với mong muốn có thể giúp cho người nội trợ sẽ dễ dàng hơn trong việc nấu ăn hàng ngày của mình. Từ công việc chuẩn bị các nguyên liệu, phải chọn món ăn hàng ngày hoặc lựa chọn những thiết bị dùng bếp sẽ trở nên dễ dàng hơn.</p>
    
    
        <div class="ext-content">
            <div class="ext-content-row" style="text-align: center">
                
                <img src="../../../assets/images/tagline-cookyvn.png" class="img-responsive" style="height:100px; margin:0 auto">
            </div>
            <div class="ext-content-row">
                <div style="padding: 15px; border: 2px dashed #ececec; background: #fafafa; font-size: 16px; text-align: center; border-radius: 4px; ">
                    Cooky muốn công việc của một nội trợ sẽ trở nên nhẹ nhàng và dễ dàng hơn trước.
                </div>
            </div>
    
            <div class="ext-content-row">
                <div class="col-md-6">
                    <h2>Tìm kiếm công thức dễ dàng hơn</h2>
                    <div class="desc">
                        Bạn có thể tìm kiếm công thức các món ăn ưa thích một cách nhanh chóng hơn với công cụ tìm kiếm của Cooky.vn.
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo tên</li>
                            <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo nguyên liệu</li>
                            <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo mục đích</li>
                            <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo chế độ dinh dưỡng (giảm cân, ...)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/cookyvn-search-pro.png" class="img-responsive">
                    <!-- <div style="text-align: center; padding: 10px; "><a href="cach-lam.html" target="_self">Tìm kiếm công thức »</a></div> -->
                </div>
            </div>
            <div class="ext-content-row">
                <div class="col-md-6">
                    <img src="imgs/easy-to-cook-recipes.jpg" class="img-responsive">
                    <!-- <div style="text-align: center; padding: 10px;"><a href="cach-lam.html" target="_self">Tìm kiếm &amp; nấu một món ăn »</a></div> -->
                </div>
                <div class="col-md-6">
                    <h2>Nấu một món ngon sẽ dễ dàng hơn</h2>
                    <div class="desc">
                        <p>
                            Cooky.vn sẽ cố gắng từng ngày một với mong muốn tạo ra một sản phẩm có thể giúp cho những đầu bếp bình thường nhất nấu được một món ăn ngon nhất.
                        </p>
                        <p>Chúng tôi chắc chắn rằng bạn sẽ cảm thấy rất vui khi được tự tay nấu cho một ai đó thưởng thức. Và cảm nhận thành quả của mình đã làm ra</p>
                        
                    </div>
                </div>
            </div>
            <div class="ext-content-row">
                <div class="col-md-7">
                    <h2>Trở thành đầu bếp chuyên nghiệp</h2>
                    <div class="desc">
                        <p>Một ngày nào đó bạn sẽ trở nên nổi tiếng với chính những "bí kíp" nấu ăn mà bạn đã tạo ra và chia sẻ chúng</p>
                        <p>Bạn hoàn toàn có thể trở thành một đầu bếp chuyên nghiệp. </p>
                    </div>
                </div>
                <div class="col-md-5" style="text-align: center">
                    <img src="imgs/chefone.png" class="img-responsive" style=" height: 220px; display: inherit; margin: 0 auto">
                </div>
            </div>
            <div class="ext-content-row">
                <div class="col-md-6">
                    <img src="imgs/cook-together.jpg" class="img-responsive">
                    <div style="text-align: center; padding: 10px;"><a href="cach-lam.html" target="_self">Tìm kiếm bạn bè »</a></div>
                </div>
                <div class="col-md-6">
                    <h2>Cùng đam mê nấu nướng</h2>
                    <div class="desc">
                        <p>
                            Cùng một đam mê nấu nướng và ăn uống. Bạn có thể tìm thấy những người cùng sở thích cùng đam mê, kết nối &amp; và chia sẻ kinh nghiệm cho nhau.
                            Mong muốn có thể tạo được một sân chơi thật sự cho người đam mê ẩm thực, đam mê nấu nướng
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </main>
  </div>
</div>
<app-scroll-top></app-scroll-top>