<div class="page-container l-page-container" style="background-image:url(../../../assets/images/wallpaperflare.com_wallpaper.png);
    backdrop-filter: blur(5px);background-position: center;background-size: cover;height: 100%;background-repeat: no-repeat; ">
  <div class="container" >
    <div class="row">
      <div class="main-content body-content container">
        <div class="l-page-left" >
          <div class="page-navbar">
            <ul class="list-unstyled nomargin">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/gioithieu" style="color: #05ac79">

                  &rsaquo; Giới thiệu <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/quydinh">

                  &rsaquo; Quy định
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachbaomat">

                  &rsaquo; Chính sách
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachdiem">

                  &rsaquo; Chính sách điểm
                </a>
              </li>


            </ul>
          </div>
        </div>
        <div class="l-page-right" style="background-color: white;padding: 30px 30px;border-radius: 20px;">
          <div class="contact-content">
            <div
              style="border-bottom: 1px solid #eee;clear: both; overflow: hidden;padding-bottom: 15px;margin-bottom: 15px;margin-top: 30px">
              <h1 class="pull-left nomargin" style="font-size: 24px;">Giới thiệu</h1>
            </div>
            <p><a routerLink="/index" target="_self">Amthuc.anchay.vn
            </a>&nbsp;được tạo nên với mong muốn có thể giúp cho người nội trợ sẽ dễ dàng hơn trong việc nấu ăn hàng
              ngày của mình. Từ công việc chuẩn bị các nguyên liệu,
              phải chọn món ăn hàng ngày hoặc lựa chọn những thiết bị dùng bếp sẽ trở nên dễ dàng hơn.</p>


            <div class="ext-content">
              <div class="ext-content-row" style="text-align: center">

                <img src="../../../assets/images/tagline-cookyvn.png" class="img-responsive"
                     style="height:100px; margin:0 auto">
              </div>
              <div class="ext-content-row">
                <div
                  style="padding: 15px; border: 2px dashed #ececec; background: #fafafa; font-size: 16px; text-align: center; border-radius: 4px; ">
                  Amthuc.anchay.vn muốn công việc của một nội trợ sẽ trở nên nhẹ nhàng và dễ dàng
                  hơn trước.
                </div>
              </div>

              <div class="ext-content-row">
                <div class="col-md-6">
                  <h2 style="font-size: 24px;">Tìm kiếm công thức dễ dàng hơn</h2>
                  <div class="desc">
                    Bạn có thể tìm kiếm công thức các món ăn ưa thích một cách nhanh chóng hơn với công cụ tìm kiếm
                    của amthuc.anchay.vn.
                    <ul class="list-unstyled">
                      <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo tên</li>
                      <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo nguyên liệu</li>
                      <li><span class="glyphicon glyphicon-ok text-highlight"></span> Theo mục đích</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <img src="../../../assets/images/monchay.vn.png" class="img-responsive">
                  <div style="text-align: center; padding: 10px; "><a routerLink="/recipe" target="_self">Tìm kiếm công
                    thức
                    »</a></div>
                </div>
              </div>
              <div class="ext-content-row">
                <div class="col-md-6">
                  <img src="../../../assets/images/naumonngon.jpg" class="img-responsive">
                  <div style="text-align: center; padding: 10px;"><a routerLink="/recipe" target="_self">Tìm kiếm &amp;
                    nấu
                    một
                    món ăn »</a></div>
                </div>
                <div class="col-md-6">
                  <h2>Nấu một món ngon sẽ dễ dàng hơn</h2>
                  <div class="desc">
                    <p>Amthuc.anchay.vn sẽ cố gắng từng ngày một với mong muốn tạo ra một sản phẩm có
                      thể giúp cho những đầu bếp bình thường nhất nấu được một món ăn ngon nhất.
                    </p>
                    <p>Chúng tôi chắc chắn rằng bạn sẽ cảm thấy rất vui khi được tự tay nấu cho một ai đó thưởng thức.
                      Và
                      cảm nhận thành quả của mình đã làm ra</p>

                  </div>
                </div>
              </div>
              <div class="ext-content-row">
                <div class="col-md-7">
                  <h2>Trở thành đầu bếp chuyên nghiệp</h2>
                  <div class="desc">
                    <p>Một ngày nào đó bạn sẽ trở nên nổi tiếng với chính những "bí kíp" nấu ăn mà bạn đã tạo ra và
                      chia
                      sẻ
                      chúng</p>
                    <p>Bạn hoàn toàn có thể trở thành một đầu bếp chuyên nghiệp. </p>
                  </div>
                </div>
                <div class="col-md-5" style="text-align: center">
                  <img src="../../../assets/images/chefone_1.png" class="img-responsive"
                       style=" height: 220px; display: inherit; margin: 0 auto">
                </div>
              </div>
              <div class="ext-content-row">
                <div class="col-md-6">
                  <img src="../../../assets/images/cook-together.jpg" class="img-responsive">
                </div>
                <div class="col-md-6">
                  <h2>Cùng đam mê nấu nướng</h2>
                  <div class="desc">
                    <p>
                      Cùng một đam mê nấu nướng và ăn uống. Bạn có thể tìm thấy những người cùng sở thích cùng đam mê,
                      kết
                      nối &amp; và chia sẻ kinh nghiệm cho nhau.
                      Mong muốn có thể tạo được một sân chơi thật sự cho người đam mê ẩm thực, đam mê nấu nướng
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
