<div class="page-container l-page-container">
  <div class="container" style="margin-left: 60px; margin-right: 60px;">
    <div class="row">

      <div class="main-content body-content container ">

        <div class="l-page-left">
          <div class="page-navbar">
            <ul class="list-unstyled nomargin">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/gioithieu">

                  &rsaquo; Giới thiệu <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/quydinh">

                  &rsaquo; Quy định
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachbaomat" style="color: #0d5f45">

                  &rsaquo; Chính sách
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachdiem">

                  &rsaquo; Chính sách điểm
                </a>
              </li>


            </ul>
          </div>
        </div>
        <div class="l-page-right">

          <div class="container contact-content">
            <div
              style="border-bottom: 1px solid #eee;clear: both; overflow: hidden;padding-bottom: 15px;margin-bottom: 15px;margin-top: 30px;">
              <h1 class="pull-left nomargin" style="font-size: 24px;">Chính sách bảo mật</h1>

            </div>
            <p><span style="font-size:13px; line-height:1.2">Monchay.vn bảo mật tất cả những thông tin cá nhân của bạn.
                Bạn cần biết chúng tôi quản lý những thông tin cá nhân tập hợp được từ Monchay.vn như thế nào. Hãy đọc
                và tìm hiểu về những quy định bảo mật thông tin sau đây.</span></p>

            <p>Việc bạn truy cập, đăng ký, sử dụng monchay.vn có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi các
              điều
              khoản của bản quy định bảo mật của chúng tôi.</p>

            <h5><span style="color:#000000"><strong>Tập hợp thông tin</strong></span></h5>

            <p><strong>Thông tin cá nhân</strong></p>

            <p>Monchay.vn hoàn toàn miễn phí, bạn không cần phải cung cấp thông tin cá nhân của bạn. Monchay.vn chỉ yêu
              cầu
              các thông tin cá nhân của bạn như: tên, email và một số thông tin không bắt buộc khác khi bạn muốn tương
              tác với một số nội dung trên website. Các thông tin cá nhân này sử dụng để Monchay.vn nhận diện và liên hệ
              với bạn khi cần.</p>

            <h5><strong>Cách thức sử dụng thông tin</strong></h5>

            <p>Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi hay thực
              hiện các yêu cầu của bạn.<br>
              Thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ bên thứ ba nào khi chưa có sự đồng ý của bạn.
              Nhưng chúng tôi có thể chia sẻ thông tin cho bên đối tác khi có sự đồng ý của bạn</p>

            <p>Dữ liệu khách hàng của Monchay.vn có thể được chuyển nhượng cho người kế thừa hay người được chỉ định để
              quản lý công ty khi công ty được sát nhập,được mua lại hoặc phá sản.</p>

            <p><span style="color:rgb(0, 0, 0)"><strong>Bảo đảm an toàn đối với các thông tin thu thập
                  được</strong></span></p>

            <p>Chúng tôi chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục đích phục vụ
              đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính an toàn, nguyên
              vẹn, độ chính xác, và tính bảo mật những thông tin mà bạn đã cung cấp. Ngoài ra, chúng tôi cũng có những
              biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện pháp bảo đảm an toàn cho các thông
              tin mà chúng tôi cung cấp cho họ nếu có.</p>

            <h5><span style="color:#000000"><strong>Sửa đổi và xoá thông tin tài khoản</strong></span></h5>

            <p>Bạn có thể sửa đổi, cập nhật thông tin tài khoản của bạn bất cứ lúc nào. Cho dù, bạn tự xoá các thông tin
              đó đi nhưng chúng tôi có thể phục hồi những thông tin đó từ cơ sở dữ liệu của chúng tôi để giải quyết các
              tranh chấp, thi hành bản thoả thuận người sử dụng, hay vì các yêu cầu kỹ thuật, pháp lý&nbsp; liên quan
              đến sự an toàn và những hoạt động của trang website chúng tôi.</p>

            <h5><span style="color:#000000"><strong>Điều khoản thay đổi</strong></span></h5>

            <p>Chúng tôi có quyền thay đổi nội dung của các điều khoản này.</p>

            <p>Xin thường xuyên xác nhận để biết về các điều khoản thay đổi trong bản quy định bảo mật của chúng tôi.
              Thêm vào đó chúng tôi sẽ thông báo cho bạn bằng email khi có những thay đổi quan trọng về cách sử dụng
              liên quan các thông tin cá nhân của bạn. Trong trường hợp bạn từ chối các điều khoản thay đổi có trong
              Monchay.vn, xin liên hệ chúng tôi theo địa chỉ email&nbsp;<a routerLink="/chinhsachbaomat">amthuc.monchay.2020@gmail.com</a>. Khi bạn tiếp tục sử dụng
              trang
              web này, có nghĩa là bạn đồng ý và chấp nhận bị ràng buộc với các thay đổi trong bản quy định bảo mật trực
              tuyến này.</p>

            <p>&nbsp;</p>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<app-scroll-top></app-scroll-top>
