<div class="container">
  <div class="recipe-list-wrapper">
    <!-- 1 anh -->
    <div class="ng-scope member-recipe-item"
      *ngFor="let recipe of recipes|paginate:{itemsPerPage: 20, currentPage:p};let i = index">
      <div class="item-inner ng-scope">
        <div class="item-photo" style="    position: relative;">
          <a href="" class="photo">
            <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 10px;">
              <cl-transformation width="216" height="226" radius="20" crop="scale" quality="auto">
              </cl-transformation>
            </cl-image>

          </a>
          <span *ngIf="recipe.videoLink" (click)='video(recipe.videoLink)'><i class="fa fa-play-circle-o fa-3x play"
              aria-hidden="true" style="top:40%;left:50px;"></i></span>

          <a class=" btn-act btn-add-favourite ng-isolate-scope">
            <span (click)="likeRecipe(recipe,i)" *ngIf="!recipe.like;else other_content"
              style="position: absolute; left:270px; bottom: 20%;"><i id="heart{{i}}" class="fa fa-heart fa-4x heart"
                style="width: 30px;height: 30px;" aria-hidden="true"></i></span>
            <ng-template #other_content>
              <span (click)="dislikeRecipe(recipe,i)" style="position: absolute; left:270px; bottom: 20%;"><i
                  class="fa fa-heart fa-4x dislikeheart " id="heart{{i}}" aria-hidden="true"
                  style="width: 30px;height: 30px;"></i></span>
            </ng-template>
          </a>

        </div>
        <div class="item-info">
          <div class="item-title">
            <h3>
              <a href="" class="namenamename">{{recipe.recipeName}}</a>
            </h3>
          </div>
          <div class="desc ng-binding">
            <p>
              {{recipe.content}}
            </p>
          </div>
        </div>
        <div class="item-footer">
          <div class="recipe-acts">
            <div style="    top: 340px;
              left: 43px;
              font-size: 12px;
              opacity: 0.8;
              float: left;
              margin-right: 6px;
           ">
              &#160;
              <i class="fa fa-clock-o stats-ico" aria-hidden="true"> {{recipe.time}}</i>
            </div>
            <div style="    top: 340px;
              left: 43px;
              font-size: 12px;
              opacity: 0.8;
              float: left;
              margin-right: 9px;
            ">
              &#160;
              <i class="fa fa-bar-chart stats-ico" aria-hidden="true"> {{recipe.viewCount}}</i>
            </div>
            <div style="    top: 340px;
              left: 43px;
              font-size: 12px;
              opacity: 0.8;
              float: left;
  margin-right: 35px;
          ">
              <i class="fa fa-bolt stats-ico" aria-hidden="true">{{recipe.hardLevel}}&#160; {{recipe.user.name}}</i>
            </div>
            <div style="float: left;
            margin-top: -23px; margin-left: 123px;">
              <!-- <i class="fa fa-bookmark"></i> -->
              <app-add-bookmark [childMessage]="recipe"></app-add-bookmark>
            </div>
            <div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>