<div class="row">
  <form class="form" style="width: 750px; margin: 20px 350px;">
    <input title="Search" value="" type="submit" class="button">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
           placeholder="Tìm kiêm công thức" style="width: 90%;
        cursor: pointer;">
  </form>

</div>
<div class="container" style="background: white; border-radius: 5px; padding: 15px 30px;">
  <div class="row" style="width: 100%;">
    <a style="color: red; margin:10px 10px;"><i class="fa fa-sliders" aria-hidden="true"></i></a>
    <button (click)="onChangedFoodType($event)" class="button-filter" style=" margin: 10px  30px;">Món ăn&#160;<i
      class="fa fa-caret-down" aria-hidden="true"></i></button>
    <button (click)="onChangedCountry($event)" class="button-filter" style=" margin: 10px  30px;">Ẩm thực&#160;<i
      class="fa fa-caret-down" aria-hidden="true"></i></button>
    <button (click)="onChangedCookWay($event)" class="button-filter" style=" margin: 10px  30px;">Chế biến&#160;<i
      class="fa fa-caret-down" aria-hidden="true"></i></button>
    <button (click)="onChangedIngredient($event)" class="button-filter" style=" margin: 10px  30px;">Nguyên
      liệu&#160;<i class="fa fa-caret-down" aria-hidden="true"></i></button>
  </div>

  <div *ngIf="showFoodType" style="font-size: 12px; margin-left: 50px;" class="row">
    <div class="pretty p-switch p-switch p-primary" *ngFor="let foodType of foodTypes"
         style="width: 15%; float: left; padding:0.5% 5%; height: auto;font-size: 12px;">
      <div>
        <input type="checkbox" [checked]="foodType.status" (change)="getFoodTypeValues($event,foodType) "/>
        <div class=" state">
          <a title="Lọc theo loại món">{{foodType.foodTypeName}}</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showCountrys" style="font-size: 12px; margin-left: 50px;" class="row">
    <div class="pretty p-switch p-switch p-primary" *ngFor="let country of countrys"
         style="width: 15%; float: left; padding:0.5% 5%; height: auto;font-size: 12px;">
      <div>
        <input type="checkbox" [checked]="country.status" (change)="getCountryValues($event,country) "/>
        <div class=" state">
          <a title="Lọc theo ẩm thực các quốc gia">{{country.countryName}}</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showCookWays" style="font-size: 12px; margin-left: 50px;" class="row">
    <div class="pretty p-switch p-switch p-primary" *ngFor="let cookWay of cookWays"
         style="width: 15%; float: left; padding:0.5% 5%; height: auto;font-size: 12px;">
      <div>
        <input type="checkbox" [checked]="cookWay.status" (change)="getCookWayValues($event,cookWay) "/>
        <div class=" state">
          <a title="Lọc theo cách chế biến">{{cookWay.cookWayName}}</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showIngredient" style="font-size: 12px; margin-left: 50px;" class="row">
    <div class="pretty p-switch p-switch p-primary" *ngFor="let ingredient of ingredients"
         style="width: 15%; float: left; padding:0.5% 5%; height: auto;font-size: 12px;">
      <div>
        <input type="checkbox" [checked]="ingredient.status" (change)="getIngredientValues($event,ingredient) "/>
        <div class=" state">
          <a title="Lọc theo nguyên liệu chế biến">{{ingredient.cookWayName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br><br>
  <h6>Tổng số <a style="color: red;">{{countRecipe}}</a> công thức</h6>
  <div class="recipe-list-wrapper" style="float: left;width: 100%;">
    <!-- 1 anh -->
    <div class="ng-scope member-recipe-item"
         *ngFor="let recipe of recipes|filter:searchText|paginate:{itemsPerPage: 20, currentPage:p};let i = index">
      <div class="item-inner ng-scope" style="background: white;">
        <div class="item-photo" style="    position: relative;">
          <a [routerLink]="['/detail/', recipe._id]" class="photo">
            <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: -4px;">
              <cl-transformation width="216" height="226" radius="20" crop="scale" quality="auto">
              </cl-transformation>
            </cl-image>

          </a>
          <span *ngIf="recipe.videoLink" (click)='video(recipe.videoLink)'><i class="fa fa-play-circle-o fa-3x play"
                                                                              aria-hidden="true" style="    position: absolute;
            left: 88px;
            top: 100px; color: gray; opacity: 0.8;"></i></span>

          <a class=" btn-act btn-add-favourite ng-isolate-scope" title="Yêu thích món ăn">
            <span (click)="likeRecipe(recipe,i)" *ngIf="!recipe.like;else other_content" style="position: absolute;
                left: -42px;
                bottom: 3px;
                width: 30px;
                height: 30px;"><i id="heart{{i}}" class="fa fa-heart fa-3x heart" aria-hidden="true"></i></span>
            <ng-template #other_content>
              <span (click)="dislikeRecipe(recipe,i)" style="position: absolute;
                left: -42px;
                bottom: 3px;
                width: 30px;
                height: 30px;"><i class="fa fa-heart fa-3x dislikeheart " id="heart{{i}}"
                                  aria-hidden="true"></i></span>
            </ng-template>
          </a>

        </div>
        <div class="item-info">
          <div class="item-title">
            <h3>
              <a [routerLink]="['/detail/', recipe._id]" class="namenamename" title="{{recipe.recipeName}}">{{recipe.recipeName}}</a>
            </h3>
          </div>
          <div class="desc ng-binding">
            <p style="text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;">
              {{recipe.content }}
            </p>
          </div>
        </div>
        <div class="item-footer">
          <div class="recipe-acts">
            <a style="top: 340px;
              opacity: 0.8;
              float: left;
              margin-right: -17px;
              padding-top: 10px;
           " title="Thời gian thực hiện món ăn">
              &#160;
              <i class="fa fa-clock-o stats-ico" aria-hidden="true" style="text-overflow: ellipsis;
              overflow: hidden;
              white-space:nowrap; width: 60px;"> {{recipe.time}}</i>
            </a>
            <a style="    top: 340px;
              left: 43px;

              opacity: 0.8;
              float: left;
              margin-right: 9px;
              padding-top: 10px;


            " title="Lượt xem món ăn">
              &#160;
              <i class="fa fa-bar-chart stats-ico" aria-hidden="true"> {{recipe.viewCount}}</i>
            </a>
            <a style="
            opacity: 0.8;
            float: left;
            padding-top: 10px;
          " title="Độ khó món ăn">
              <i class="fa fa-bolt stats-ico" aria-hidden="true" style="text-overflow: ellipsis;
              overflow: hidden;
              white-space:nowrap;width: 80px;">{{recipe.hardLevel}}&#160; {{recipe.user.name}}</i>
            </a>
            <div style="float: left;
            margin-top: -31px; margin-left: 132px;">
              <!-- <i class="fa fa-bookmark"></i> -->
              <app-add-bookmark [childMessage]="recipe"></app-add-bookmark>
            </div>
            <div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="paging">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>
