<div class="page-container l-page-container">
  <div class="container" style="margin-left: 60px; margin-right: 60px;">
    <div class="row">
      <div class="main-content body-content container ">
        <div class="l-page-left">
          <div class="page-navbar">
            <ul class="list-unstyled nomargin">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/gioithieu">

                  &rsaquo; Giới thiệu <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/quydinh">

                  &rsaquo; Quy định
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachbaomat">

                  &rsaquo; Chính sách
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/chinhsachdiem" style="color: #0d5f45">

                  &rsaquo; Chính sách điểm
                </a>
              </li>


            </ul>
          </div>
        </div>
        <div class="l-page-right">
          <div class="contact-content">
            <div
              style="border-bottom: 1px solid #eee;clear: both; overflow: hidden;padding-bottom: 15px;margin-bottom: 15px;margin-top: 30px">
              <h1 class="pull-left nomargin" style="font-size: 24px;">Chính sách điểm</h1>
            </div>
            <p>Để ghi nhận sự tham gia đóng góp của tất cả các thành viên cho sự phát triển của&nbsp;<strong>Cộng đồng
                Ẩm thực ăn chay</strong>&nbsp;, chúng tôi xây dựng chương trình tích điểm &amp; nâng cấp bậc thành viên
              như sau
            </p>
            <p>
              <h5><strong>Các hoạt động được ghi nhận tích điểm</strong><img alt=""
                  src="http://www.amthuc-anchay-poly.herokuapp.com/content/img/cp.png"
                  style="height: 18px; width: 18px;"></h5>
              <p><em><span style="color:rgb(105, 105, 105)">Các thành viên tham gia những hoạt động sau trên website
                    amthuc.anchay.poly.com sẽ được ghi nhận tích điểm.</span></em></p>

              <table border="1" cellpadding="4" cellspacing="4" class="rewards-table-list"
                style="border:1px solid rgb(221, 221, 221); line-height:20.7999992370605px; width:811px">
                <thead>
                  <tr>
                    <td><strong>Hạng mục</strong></td>
                    <td><img alt="" src="http://www.amthuc-anchay-poly.herokuapp.com/content/img/cp.png"
                        style="height:32px; width:32px"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tạo mới và tải lên công thức</td>
                    <td>+ 02 điểm</td>
                  </tr>
                  <tr>
                    <td>Công thức được duyệt</td>
                    <td>+ 01 điểm</td>
                  </tr>
                  <tr>
                    <td>Công thức được yêu thích</td>
                    <td>+ 01 điểm</td>
                  </tr>
                  <tr>
                    <td>Công thức bỏ lượt yêu thích</td>
                    <td>- 01 điểm</td>
                  </tr>
                  <tr>
                    <td>Tạo mới bộ sưu tập</td>
                    <td>+ 01 điểm</td>
                  </tr>
                  <tr>
                    <td>Bộ sưu tập được yêu thích</td>
                    <td>+ 01 điểm</td>
                  </tr>
                  <tr>
                    <td>Bộ sưu tập bỏ lượt yêu thích</td>
                    <td>- 01 điểm</td>
                  </tr>
                  <tr>
                    <th>Thành viên</th>
                    <th>&nbsp;</th>
                  </tr>
                  <tr>
                    <td>Đăng ký thành công</td>
                    <td>+ 03 điểm</td>
                  </tr>

                </tbody>
              </table>

              <p>&nbsp;</p>

              <p><strong><span style="color:rgb(255, 0, 0)">*</span>&nbsp;Lưu ý</strong>: mức điểm thưởng có thể thay
                đổi theo từng thời điểm và sẽ được cập nhật thông tin tại đây mà không cần phải thông báo trước.
                <h5><br>
                  <strong>Các hoạt động sẽ không được hệ thống duyệt điểm khi vi phạm các mục sau:</strong></h5>

                <ul>
                  <li>Vi phạm các điều khoản sử dụng của website amthuc.anchay.poly.com. Xem thêm&nbsp;<em><a
                        href="http://www.amthuc-anchay-poly.herokuapp.com/terms" target="_self"><span
                          style="color:rgb(212, 63, 58)">điều khoản
                          sử
                          dụng</span></a></em></li>
                  <li>Nội dung bình luận, thảo luận không rõ ràng, không phù hợp với chủ đề liên quan. Sử dụng tiếng
                    việt không dấu
                  </li>
                  <li>Hình ảnh sử dụng không liên quan tới chủ đề, hình ảnh không rõ nét</li>
                  <li>Spam dưới mọi hình thức sẽ không được tính điểm, và nội dung sẽ bị xóa mà không cần phải thông báo
                    trước
                  </li>
                </ul>

                <h5><strong>Cấp bậc và xếp hạng thành viên</strong></h5>

                <p><em>Bên cạnh việc tích điểm cho các thành viên, amthuc.anchay.poly.com phân cấp thành viên
                    tham gia theo điểm
                    tích lũy thông qua các hoạt động trên website của amthuc.anchay.poly.com như sau:</em></p>

                <table border="1" cellpadding="4" cellspacing="4" class="rewards-table-list"
                  style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; border: 1px solid rgb(221, 221, 221); width: 811px;">
                  <thead>
                    <tr>
                      <td style="text-align: center;"><strong
                          style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; text-align: center; background-color: rgb(255, 255, 255);">Cấp
                          bậc</strong></td>
                      <td style="text-align: center;"><strong style="line-height: 20.8px; text-align: center;"><span
                            style="line-height: 20.8px;">Mô tả</span></strong></td>
                      <td style="text-align: center;"><strong style="line-height: 20.8px; text-align: center;"><span
                            style="line-height: 20.8px;">Điểm tích lũy (CP)</span></strong></td>
                    </tr>
                    <tr>
                      <td style="background-color: rgb(124, 179, 66);"><span
                          style="color:#FFFFFF;"><strong>Newbee</strong></span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">Bạn quan tâm đến những món ăn ngon và
                          đẹp</span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">0 – 100 điểm</span></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="background-color: rgb(117, 117, 117);"><span style="color:#FFFFFF;"><strong><span
                              style="line-height: 20.8px; text-align: center;">Tastee</span></strong></span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">Bạn là chuyên gia nêm nếm thưởng thức
                          món
                          ăn</span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">101 – 250 điểm</span></td>
                    </tr>
                    <tr>
                      <td style="background-color: rgb(255, 193, 7);"><span
                          style="line-height: 20.8px; text-align: center;"><strong>Cookee</strong></span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">Bạn là một người nấu ăn ngon</span>
                      </td>
                      <td><span style="line-height: 20.8px; text-align: center;">251 – 400 điểm</span></td>
                    </tr>
                    <tr>
                      <td style="background-color: rgb(2, 82, 92);"><span style="color:#FFFFFF;"><strong><span
                              style="line-height: 20.8px; text-align: center;">Chefee &nbsp;</span></strong></span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">Bạn là một đầu bếp chuyên nghiệp</span>
                      </td>
                      <td><span style="line-height: 20.8px; text-align: center;">401 – 600 điểm</span></td>
                    </tr>
                    <tr>
                      <td style="background-color: rgb(54, 23, 66);"><strong><span style="color:#FFFFFF;"><span
                              style="line-height: 20.8px; text-align: center;">Mastee&nbsp;</span></span></strong></td>
                      <td><span style="line-height: 20.8px; text-align: center;">Vua đầu bếp</span></td>
                      <td><span style="line-height: 20.8px; text-align: center;">600 điểm trở lên</span></td>
                    </tr>
                  </tbody>
                </table>

                <p>&nbsp;</p>

                <p>Làm sao để đạt được những cấp bậc trên amthuc.anchay.poly.com? Bạn chỉ cần :&nbsp;</p>

                <ul>
                  <li>Chia sẻ công thức đến với mọi người
                  <li>Đánh giá công thức và đăng tải hình ảnh
                  <li>Review sản phẩm và địa điểm mua
                </ul>


                <p>amthuc.anchay.poly.com mong muốn nhận được các phản hồi và góp ý của thành viên để có thể
                  cải thiện và đưa ra
                  những
                  chính sách thưởng nhằm ghi nhận và nâng cao quyền lợi của mỗi thành viên khi tham gia, đóng góp cho
                  các hoạt động của amthuc-anchay-poly.herokuapp.com. Bạn có thể gửi những phải hồi của mình qua
                  email&nbsp;<a href="mailto:amthuc.anchay.2020@gmail.com" target="_self"><span
                      style="color:rgb(212, 63, 58)">amthuc.anchay.2020@gmail.com</span></a>&nbsp;</p>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<app-scroll-top></app-scroll-top>