<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/gioithieu">
              
              &rsaquo; Giới thiệu <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/quydinh">
             
              &rsaquo; Quy định 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chinhsachbaomat">
              
              &rsaquo; Chính sách
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chinhsachdiem" >
              
              &rsaquo; Chính sách điểm
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              
              Integrations
            </a>
          </li> -->
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" content><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      Chính sách điểm <br>
      Cập nhật ngày 19:30 PM Thứ 4, 021/06/2017
      <br>
      Để ghi nhận sự tham gia đóng góp của tất cả các thành viên cho sự phát triển của Cộng đồng COOKY.VN, chúng tôi xây dựng chương trình tích điểm & đổi quà và có nhiều ưu đãi cho các thành viên có hoạt động tích cực.
      <br>
      Hệ thống điểm
      <br>
      Mỗi hoạt động đóng góp của thành viên đều được COOKY.VN ghi nhận dưới dạng điểm, điểm tích lũy này dùng để quy đổi thành Voucher/Quà Tặng có trên hệ thống của COOKY.VN.
      <br>
      Điểm tích lũy : là điểm thành viên tích lũy qua các hoạt động trên website của Cooky.vn. Điểm tích lũy dùng để đổi những phần quà có giá trị là voucher, các thiết bị, nguyên liệu, dụng cụ làm bánh, nấu nướng mà Cooky muốn dành tặng cho các thành viên. Điểm tích lũy còn là móc đánh giá mức độ tích cực của mỗi thành viên. Thành viên có thể dùng điểm tích lũy để đổi các phần thưởng giá trị tại http://www.cooky.vn/doi-thuong
      <br>
      Các hoạt động được ghi nhận tích điểm <br>
      Các thành viên tham gia những hoạt động sau trên website cooky.vn sẽ được ghi nhận tích điểm.
      <br>
      Hạng mục <br>	
      Công thức nấu ăn <br>
      https://www.cooky.vn/cach-lam	<br> 
      Tạo mới và tải lên công thức	+5 điểm <br>
      Đánh giá công thức có nội dung (Rating + Review)	+03 điểm <br>
      Tải lên hình ảnh	+01 điểm/hình <br>
      Thành viên	 <br>
      Đăng ký thành công	+10 điểm <br>
      Chia sẻ hình thực hiện	 <br>
      Tải lên hình ảnh	+01 điểm/hình <br>
          
       
      
      * Lưu ý: mức điểm thưởng có thể thay đổi theo từng thời điểm và sẽ được cập nhật thông tin tại đây mà không cần phải thông báo trước. Thành viên có thể theo dõi lịch sử điểm thưởng của mình tại: http://www.cooky.vn/tai-khoan
      
      <br>
      Các hoạt động sẽ không được hệ thống duyệt điểm khi vi phạm các mục sau: <br>
      Vi phạm các điều khoản sử dụng của website Cooky.vn. Xem thêm điều khoản sử dụng <br>
      Nội dung bình luận, thảo luận không rõ ràng, không phù hợp với chủ đề liên quan. Sử dụng tiếng việt không dấu <br>
      Hình ảnh sử dụng không liên quan tới chủ đề, hình ảnh không rõ nét <br>
      Spam dưới mọi hình thức sẽ không được tính điểm, và nội dung sẽ bị xóa mà không cần phải thông báo trước <br>
      Quy đổi & Giải thưởng <br>
      Cách thức quy đổi <br>
      
      Điểm thưởng sẽ dùng cho việc qui đổi Voucher hoặc các quà tặng có trên Cooky.vn với giá trị tương đương. Thành viên có thể quy đổi bất kỳ quà tặng hoặc Voucher nào, tại bất kỳ thời điểm nào nếu Voucher được kích hoạt với giá trị quy đổi tương đương. <br>
      
      Sau khi đổi thưởng, điểm tích lũy của thành viên sẽ bị khấu trừ ( - ) tương đương với giá trị phần thưởng đã quy đổi trước đó. Thành viên không thể quy đổi phần thưởng khi giá trị phần thưởng lớn hơn điểm tích lũy hiện có trong tài khoản. <br>
      
      Điểm tích lũy không thể mua bán dưới mọi hình thức
      <br>
      Giá trị giải thưởng
      <br>
      Giải thưởng có thể là Voucher hoặc có thể là các mặt hàng, hoặc có thể là các mẩu vật giá trị. Mỗi giải thưởng sẽ có 1 giá trị nhất định và được mô tả chi tiết rõ ràng khi kích hoạt và hiển thị trên website Cooky.vn. Thành viên có thể sử dụng số điểm tích lũy để qui đổi giải thưởng tương đương với giá trị đã được thông báo. Thành viên có thể đổi 1 hoặc nhiều giải thưởng tùy theo qui định đổi thưởng của mỗi giải sẽ khác nhau.
      <br>
      Cấp bậc và xếp hạng thành viên <br>
      Bên cạnh việc tích điểm cho các thành viên, Cooky.vn phân cấp thành viên tham gia theo điểm tích lũy thông qua các hoạt động trên website của Cooky.vn như sau:
      <br>
      Cấp bậc	Mô tả	Điểm tích lũy (CP) <br>
      Newbee	Bạn quan tâm đến những món ăn ngon và đẹp	0 – 99 điểm <br>
      Tastee	Bạn là chuyên gia nêm nếm thưởng thức món ăn	100 – 499 điểm <br>
      Cookee	Bạn là một người nấu ăn ngon	500 – 999 điểm <br>
      Chefee  	Bạn là một đầu bếp chuyên nghiệp	1000 – 4999 điểm <br>
      Mastee 	Vua đầu bếp	5000 điểm trở lên <br>
       
      
      Làm sao để đạt được những cấp bậc trên Cooky.vn? Bạn chỉ cần :  <br>
      
      Chia sẻ công thức đến với mọi người, tại Đăng Tải Công Thức <br>
      Đánh giá công thức và đăng tải hình ảnh, tại Công Thức <br>
      Review sản phẩm và địa điểm mua, tại Sản Phẩm và Địa Điểm <br>
       
      
      Cooky.vn mong muốn nhận được các phản hồi và góp ý của thành viên để có thể cải thiện và đưa ra những chính sách thưởng nhằm ghi nhận và nâng cao quyền lợi của mỗi thành viên khi tham gia, đóng góp cho các hoạt động của Cooky.vn. Bạn có thể gửi những phải hồi của mình qua email support@cooky.vn hoặc đề xuất ý tưởng trực tiếp tại trang Góp ý <br>
    </main>
  </div>
</div>
<app-scroll-top></app-scroll-top>