:host{
  position: relative;
  display: block;
  color: black;
}
.mypanel {
    background-color: white;
    color: #222;
    font-family: 'Trocchi', serif;
  }
  
  .mypanel .title {
    padding-left: 5%;
    text-decoration: none;
    color: #222;
border: 1px solid rgba(0, 0, 0, 0.1);
/* background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1)); */
background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
/* border: 1px solid #DCDCDC; */
border-radius: 2px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    /* border-bottom: 1px solid #666; */
  }
  .mypanel .title :hover {
    
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: linear-gradient(top,#F5F5F5,#F1F1F1); */
    border: 1px solid #DCDCDC;
    color: black;
    text-decoration: none;
    /* border-radius: 2px;
        width: 100%;
        padding: 10px; */
        cursor: pointer;
        transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
        /* border-bottom: 1px solid #666; */
      }
  
  .mypanel .body {
    /* padding: 10px; */
    padding-left: 10%;
  }
  
  .mypanel .body.hidden {
    display: none;
    padding-left: 5%;
  }
 