<h5 style="color: orange;">Danh sách công thức</h5>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="&#61442;  Tìm kiêm công thức">
</div>
<div *ngFor="let recipe of recipes | filter:searchText| orderBy: key : reverse| paginate: config; let i=index">

</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>STT</th>
        <th [class.active]="order === 'info.name'" (click)="setOrder('info.name')"
          class="mdl-data-table__cell--non-numeric">
          Tên công thức<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'info.email'" (click)="setOrder('info.email')"
          class="mdl-data-table__cell--non-numeric">
          Thời gian nấu <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th>Độ khó</th>
        <th>Đăng bởi</th>
        <th>Ảnh</th>
        <th [class.active]="order === 'info.totalPoint'" (click)="setOrder('info.totalPoint')"
          class="mdl-data-table__cell--non-numeric">
          Lượt yêu thích <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'info.viewCount'" (click)="setOrder('info.viewCount')"
          class="mdl-data-table__cell--non-numeric">
          Lượt xem <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody
      *ngFor="let recipe of recipes | orderBy: order:reverse:'case-insensitive'| filter:searchText| paginate: config; let i=index">

      <tr>
        <td>{{i+1}}</td>
        <td style="max-width: 50px;" [routerLink]="['/detailRecipe/', recipe._id]">{{recipe.recipeName}}</td>
        <td style="max-width: 80px;">{{recipe.time}}&#160;&#160;phút</td>
        <td style="max-width: 60px;">{{recipe.hardLevel}}</td>
        <td style="max-width: 60px;">{{recipe.user.name}}</td>
        <td [routerLink]="['/detailRecipe/', recipe._id]">
          <cl-image public-id="{{recipe.imageUrl}}">
            <cl-transformation aspect-ratio="1:1" gravity="auto" width="100" height="100" crop="fill">
            </cl-transformation>
          </cl-image>
        </td>
        <td style="max-width: 60px;">{{recipe.totalPoint}}&#160;&#160;lượt</td>
        <td style="max-width: 60px;">{{recipe.viewCount}}&#160;&#160;lượt</td>
        <td style="max-width: 60px;">{{recipe.status}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 25%;"></pagination-controls>

</div>