<h5 style="color: orange;">Danh sách thành viên</h5>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
    placeholder="&#61442;  Tìm kiêm thành viên">
</div>
<div *ngFor="let user of users | filter:searchText| orderBy: key : reverse| paginate: config; let i=index">
  <cl-image public-id="jbiajl3qqdzshdw0z749.jpg">
    <cl-transformation aspect-ratio="1:1" background="#262c35" border="5px_solid_rgb:ff0000" gravity="auto" radius="max"
      width="1000" crop="fill">
    </cl-transformation>
  </cl-image>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>STT</th>
        <th [class.active]="order === 'info.name'" (click)="setOrder('info.name')"
          class="mdl-data-table__cell--non-numeric">
          Tên thành viên <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'info.name'" (click)="setOrder('info.email')"
          class="mdl-data-table__cell--non-numeric">
          Email <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
        <th>Token</th>
        <th>Ảnh</th>
        <th>Tổng điểm</th>
      </tr>
    </thead>
    <tbody
      *ngFor="let user of users | orderBy: order:reverse:'case-insensitive'| filter:searchText| paginate: config; let i=index">

      <tr>
        <td>{{i+1}}</td>
        <td style="max-width: 50px;">{{user.name}}</td>
        <td style="max-width: 80px;">{{user.time}}</td>
        <td style="max-width: 100px;
        overflow: visible;
        text-overflow: initial;word-wrap: break-word;">{{user.hardLevel}}</td>
        <td>{{user.imageUrl}} </td>
        <td>{{user.viewPoint}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 25%;"></pagination-controls>

</div>