<div class="row" style="padding: 0 15px;height: auto; " *ngIf="loadingSuccess2; else skeleton2;">
  <div class="col-8" style="position: relative; font-size: 13px; text-align: center; ">
    <div class="image-preview mb-3" style="border-radius: 20px;background: white;">

      <cl-image public-id="{{recipe.imageUrl}}" style="margin-top: 60px;">
        <cl-transformation width="650" height="350" crop="scale" quality="auto" radius="20">
        </cl-transformation>
      </cl-image>
      <h4 style=" text-transform: uppercase;margin-top: 25px; margin-bottom: 15px;"> {{recipe.recipeName}}
        <a style="font-size: 12px;">{{typeOFRecipe}}</a></h4>
      <button title="Duyệt" (click)="openModal(true)" class="button1" *ngIf="!typeRecipe">
        <!-- ngIf: status != 1 --><span class="ng-scope">Duyệt </span>
        <!-- end ngIf: status != 1 -->
      </button>
      <button title="Từ chối" (click)="openModal(false)" class="button2"
        style="margin-left: 50px; border:  2px solid red;">
        <!-- ngIf: status != 1 --><span class="ng-scope">Từ chối</span>
        <!-- end ngIf: status != 1 -->
      </button>
      <div style="text-align: left; padding: 10px 50px;">
        <a>Loại món: </a> <a class="atitle1" *ngFor="let foodType of recipe.foodType"> {{foodType.foodTypeName}},</a>
        <br><br> <a> Cách thức thực hiện: </a>
        <a class="atitle1" *ngFor="let cookWays of recipe.cookWay">
          {{cookWays.cookWayName}}, </a>

      </div>
      <div class="row" style="text-align: left; padding: 10px 50px;">
        <div class="col">Nguyên liệu: {{recipe.ingredients.length}}</div>
        <div class="col">Độ khó: {{recipe.hardLevel}}</div>
        <div class="col">Thực hiện: {{recipe.time}} phút</div>
      </div>
      <!-- <div class="row" style="text-align: left; padding: 10px 50px;">
        <div class="col">Khẩu phần ăn: 04 người</div>

      </div>
      <div class="row" style="text-align: left; padding: 10px 50px;">
        <div class="col">Nguyên liệu: {{recipe.ingredients.length}}</div>
        <div class="col">Thực hiện: {{recipe.time}} phút</div>
      </div> -->
    </div>
    <span *ngIf="recipe.videoLink" (click)='video(recipe.videoLink)'><img
        src="../../../assets/images/cooky-video-play-fill-2.png"
        style="top:220px;left:45%;width: 50px;height: 50px; position: absolute; background: none;" /></span>
    <div style="background: white; border-radius: 10px;margin-top: 5px; padding-top: 30px;">
      <div class="row">

        <div class="col col-lg-2">

          <cl-image public-id="{{recipe.user.imageUrl}}" style="border-radius: 50px;">
            <cl-transformation width="150" height="150" gravity="face" radius="max" crop="fill" background="#e9ebee">
            </cl-transformation>
            <cl-transformation width="75" crop="scale">
            </cl-transformation>
          </cl-image>

        </div>
        <div class="col">
          <div class="row atitle"><a>Công thức đăng bởi</a></div>
          <div class="row"><a>{{recipe.user.name}}</a></div>
          <div class="row"><a>{{totalRecipe}}&#160;&#160;&#160;&#160;công
              thức</a><a>&#160;&#160;&#160;&#160;{{recipe.user.totalPoint}}&#160;&#160;&#160;&#160;điểm</a></div>
        </div>
        <div class="col col-lg-2">

        </div>

      </div>
      <div class="row" style="padding: 20px;">

        <div class="col col-lg-2">

        </div>
        <div class="col" style="text-align:start;">
          <a>Bình luận</a>
        </div>

      </div>
    </div>

    <div class="card " style="background: #e9ebee;padding: 20px 0; margin-top: 10px; border: none; box-shadow: none;">

      <div class="row">
        <div class="col ">
          <nav style="background: white; border-radius: 10px 10px 10px 10px;">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true" style="font-size: 14px;">
                Công thức</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false" style="font-size: 14px;">Bình luận
              </a>
            </div>
          </nav>

          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div style="background: white; border-radius: 10px; padding: 30px 0;display: block;
                overflow: hidden;padding-left: 15px;">


                <div class="row">
                  <div class="col-sm-6 col-md-8" style="text-align:start;"><a
                      style="font-size: 20px;font-weight: 500;font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Nguyên
                      liệu
                      làm
                      &#160;{{recipe.recipeName}}</a>
                    <br><a class="atitle">cho <span style="color: red; margin-left: 5px;">{{multiplyElement}}</span>
                      Phần ăn </a>

                  </div>
                  <div class="col-6 col-md-4"><i class="fa fa-cutlery fa-lg" style="color: rgb(155, 15, 15);"
                      aria-hidden="true"></i>&#160;
                    <a>Phần ăn</a>&#160;&#160;&#160;&#160;&#160;<input type="number" id="multiplyElement" min="1"
                      pattern="[0-9]+" (change)="countIngredient(multiplyElement)" [(ngModel)]="multiplyElement"
                      style="width: 46px;height: 25px;margin-right: 5px;" /><a><i
                        (click)="countIngredient(multiplyElement)" class="fa fa-refresh fa-lg"
                        aria-hidden="true"></i></a>
                  </div>
                </div>
                <div *ngFor="let ingredient of recipe.ingredients; let i = index">
                  <div style="width: 30%; float: left;text-align: left;padding-top:20px ;">
                    <a>
                      <i class="fa fa-check fa-lg" style="color: rgb(95, 228, 6);" aria-hidden="true"></i>
                      {{ ingredient.ingredientName }}&#160;&#160;&#160;<a>{{
                        ingredient.quantitative
                      }}</a>&#160;&#160; {{ ingredient.typeOfquantitative }}</a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div style="background: white; border-radius: 10px;margin-top: 50px; padding-top: 30px; 
                display: block; overflow: hidden;padding-left: 15px; text-align: left;">


                <div class="row">
                  <div class="col-sm-6 col-md-8" style="text-align:start;"><a
                      style="font-size: 20px;font-weight: 500; font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Cách
                      làm
                      &#160;{{recipe.recipeName}}</a>
                    <br>
                    <a class="atitle" (click)="fullImage()">
                      <span class="active-button" *ngIf="viewFull;else other_content"><i class="fa fa-list fa-lg "
                          aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
                      <ng-template #other_content>
                        <span class="no-active-button"><i class="fa fa-list fa-lg "
                            aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
                      </ng-template>
                    </a>
                    <a class="atitle" (click)="noImage()">
                      <span class="no-active-button" *ngIf="viewFull;else other_content1">
                        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>&#160;&#160;Không hình</span>
                      <ng-template #other_content1>
                        <span class="active-button"><i class="fa fa-file-text-o fa-lg"
                            aria-hidden="true"></i>&#160;&#160;Không hình</span>
                      </ng-template>
                    </a>
                  </div>
                  <div class="col-6 col-md-4">

                    <a>Thực hiện:&#160;&#160;&#160;&#160;&#160; {{recipe.doneCount}}</a>
                  </div>
                </div>
                <hr>
                <a class="atitle" style="margin-left:5%; font-size: 25px; color: #181818;"> Thực hiện</a>
                <div class="container" *ngFor="let cookStep of cookSteps; let i = index">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-9" style="text-align: right;"><a style="color: olivedrab;">
                        {{cookStep.check}}</a> <a *ngIf="cookStep.time"> {{cookStep.time}}
                        phút</a></div>
                    <div class="col-2">

                    </div>
                    <div class="col-2 ">
                      <div
                        style="border-radius: 5px;text-align: center; margin-left: 30%;
                      padding-top: 5px; width: 70px;color: rgb(179, 179, 179);; background: #f8f8f8; border: 1px solid #c5c5c5;">
                        <a>Bước </a>
                        <br />
                        <a>{{ i + 1 }}</a>
                        <br />
                        <a>___</a><br />
                        <i class="fa fa-check-circle fa-lg" id="icon{{ i }}" aria-hidden="true"
                          (click)="changeIcon($event, i)"></i>
                      </div>
                    </div>
                    <div class="col-9"> <a> {{ cookStep.psnote }}</a></div>
                  </div>
                  <div class="container" *ngIf="!showImageStep"
                    style="margin: 10px 10px; float: left; display: block; overflow: hidden;">

                    <div class="row" id="image{{ i }}" *ngFor="let imageUrl of cookStep.image; let i = index"
                      style="margin: 10px 10px; float: left; display: block; overflow: hidden;">
                      <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                          <cl-transformation height="100" width="100" crop="scale">
                          </cl-transformation>
                        </cl-image> -->
                      <div>
                        <cl-image public-id="{{ imageUrl }}" *ngIf="imageUrl">
                          <cl-transformation height="220" radius="20" width="220" crop="scale">
                          </cl-transformation>
                          <cl-transformation angle="0"> </cl-transformation>
                        </cl-image>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="clearfix"></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
              style="height: 600px;">

              <!-- Default switch -->
              <div style="width: 100%;font-size: 16px;">
                <br>
                <a style="margin-left: 10%;">Danh sách bình luận công thức </a>
                <div class="container" style="margin-top: 10px;"
                  *ngFor="let comment of recipeComment|paginate:{itemsPerPage: 6, currentPage:p};">
                  <div class="row">
                    <div class="col-4">
                      <cl-image public-id="{{ comment.user.imageUrl }}" style="border-radius: 50px;">
                        <cl-transformation width="100" height="100" gravity="face" radius="max" crop="fill"
                          background="#e9ebee">
                        </cl-transformation>
                        <cl-transformation width="50" crop="scale"></cl-transformation>
                      </cl-image>
                      <br>
                      <a style="font-size: 12px;">Đăng bởi: {{comment.user.name}}</a>
                      <br>
                      <a (click)="deleteComment(comment)" style="color: red;font-size: 10px;cursor: pointer;">Xóa bình
                        luận</a>
                    </div>
                    <div class="col-8">
                      <a style="font-size: 12px;color: green;">{{comment.type}}</a>
                      <br>
                      <a>{{comment.content}}</a>
                      <br>
                      <div class="row" id="image{{ i }}" *ngFor="let imageUrl of comment.imageUrl; let i = index"
                        style="margin: 10px 10px; float: left;">
                        <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                      <cl-transformation height="100" width="100" crop="scale">
                      </cl-transformation>
                    </cl-image> -->
                        <div *ngIf="!showImageStep">
                          <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                            <cl-transformation height="100" radius="20" width="100" crop="scale">
                            </cl-transformation>
                            <cl-transformation angle="0"></cl-transformation>
                          </cl-image>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix" style="margin-bottom: 55px;"></div>
            <!-- <p>{{profileForm.status}}</p> -->
            <!-- <nav style="width: 100%; background: white; border-radius:0 0 10px 10px; height: 60px; padding: 5px 0;">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="button_change" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                  style="font-size: 14px;margin-left: 35px;" aria-controls="nav-home" aria-selected="true">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  Công thức</a>
                <a class="button_change" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                  style=" font-size: 14px; margin-left: 550px;" aria-controls="nav-profile" aria-selected="false">Bình
                  luận
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
              </div>
            </nav> -->
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-4"
    style="min-height: 300px; min-height: 2150px;margin-top: 5px; border-radius: 15px; background: white;display:block;overflow:hidden;">

    <br><br>
    <a style="margin-top: 50px; font-size: 15px;">CÔNG THỨC LIÊN QUAN</a>
    <hr>
    <div class="row">
      <div class="col" *ngFor="let recipe of recipes;let i = index" (click)="showRecipe(recipe)"
        style="margin-bottom: 15px;cursor: pointer;">
        <cl-image public-id="{{recipe.imageUrl}}">
          <cl-transformation width="150" height="150" crop="scale" quality="auto" radius="20">
          </cl-transformation>
        </cl-image>
        <br>
        <a>{{recipe.recipeName}}</a>
        <br><a>{{recipe.viewCount}} <a style="color: #c5c5c5;">lượt xem</a> {{recipe.time}} phút</a>
      </div>
      <div class="row" *ngIf="recipeView" style="padding: 50px 55px; ">
        <div class="image-preview mb-3" style="border-radius: 20px;background: white;">
          <cl-image public-id="{{recipeView.imageUrl}}" style="margin-top: 60px;">
            <cl-transformation width="200" height="200" crop="scale" quality="auto" radius="20">
            </cl-transformation>
          </cl-image>
          <h4 style=" text-transform: uppercase;margin-top: 25px; margin-bottom: 15px;"> {{recipeView.recipeName}}
          </h4>
          <div style="text-align: left; padding: 10px 0;">
            <a>Loại món: </a> <a class="atitle1" *ngFor="let foodType of recipeView.foodType">
              {{foodType.foodTypeName}},</a>
            <br><br> <a> Cách thức thực hiện: </a>
            <a class="atitle1" *ngFor="let cookWays of recipeView.cookWay">
              {{cookWays.cookWayName}}, </a>

          </div>
          <div class="row" style="text-align: left; padding: 10px 0;">
            <div class="col">Nguyên liệu: {{recipeView.ingredients.length}}</div>
            <div class="col">Thực hiện: {{recipeView.time}} phút</div>
          </div>
          <div class="row" style="text-align: left; padding: 10px 0;">
            <div class="col">Khẩu phần ăn: {{multiplyElement}} người</div>
            <div class="col">Độ khó: {{recipeView.hardLevel}}</div>
          </div>
        </div>
        <!-- <span *ngIf="recipeView.videoLink" (click)='video(recipeView.videoLink)'
          style="top:140px;left:45%;width: 50px;height: 50px; position: absolute;">
          <img src="../../../assets/images/cooky-video-play-fill-2.png" /></span> -->
        <div style="background: white; border-radius: 10px;margin-top: 5px; padding-top: 30px;">
          <div class="row">

            <div class="col col-lg-2">

              <cl-image public-id="{{recipeView.user.imageUrl}}" style="border-radius: 50px;">
                <cl-transformation width="150" height="150" gravity="face" radius="max" crop="fill"
                  background="#e9ebee">
                </cl-transformation>
                <cl-transformation width="75" crop="scale">
                </cl-transformation>
              </cl-image>

            </div>
            <div class="col" style="margin-left: 60px;text-align: center; ">
              <div class="row atitle"><a>Đăng bởi</a></div>
              <div class="row"><a>{{recipeView.user.name}}</a></div>

              <div class="row">
                <a>{{recipeView.user.totalPoint}}&#160;công
                  thức</a>
              </div>
              <div class="row">
                <a>{{recipeView.user.totalPoint}}&#160;&#160;điểm</a>
              </div>

            </div>
            <div class="col col-lg-2">

            </div>

          </div>
          <div class="container" style="padding: 20px;">
            <div class="row">
              <div class="col" style="text-align:start;"><a
                  style="font-size: 20px;font-weight: 500;font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Nguyên
                  liệu
                </a>
                <br><a class="atitle">cho <span style="color: red; margin-left: 5px;">{{multiplyElement}}</span>
                  Phần ăn </a>

              </div>
              <div class="col">
                <input type="number" id="multiplyElement" [(ngModel)]="multiplyElement" min="1"
                  (change)="countIngredient(multiplyElement)"
                  style="width: 46px;height: 25px;margin-right: 5px;float: left;" /><a><i
                    (click)="countIngredient(multiplyElement)" class="fa fa-refresh fa-lg" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="row">
              <div *ngFor=" let ingredient of recipeView.ingredients; let j =index">
                <div style="float: left;text-align: left;padding-top:20px ; padding-left: 30px;">
                  <a> <i class="fa fa-check fa-lg" style="color: rgb(95, 228, 6);" aria-hidden="true"></i>
                    {{ingredient.ingredientName}}&#160;&#160;&#160;<a>{{ingredient.quantitative}}</a>&#160;&#160;
                    {{ingredient.typeOfquantitative}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div
            style="background: white; border-radius: 10px; padding-top: 30px; min-height:800px;padding-left: 15px; text-align: left;">


            <div class="row"><a
                style="font-size: 20px;font-weight: 500; font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Cách
                làm</a>
            </div>
            <div class="row">
              <div class="row">
                <div class="col" style="width:250px;">
                  <a class="atitle" (click)="fullImage()">
                    <span class="active-button" *ngIf="viewFull;else other_content"><i class="fa fa-list fa-lg "
                        aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
                    <ng-template #other_content>
                      <span class="no-active-button"><i class="fa fa-list fa-lg " aria-hidden="true"></i>&#160;&#160;Xem
                        đầy đủ&#160;</span>
                    </ng-template>
                  </a>

                </div>
                <div class="col">
                  <a class="atitle" (click)="noImage()">
                    <span class="no-active-button" *ngIf="viewFull;else other_content1">
                      <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>&#160;&#160;Không hình</span>
                    <ng-template #other_content1>
                      <span class="active-button"><i class="fa fa-file-text-o fa-lg"
                          aria-hidden="true"></i>&#160;&#160;Không hình</span>
                    </ng-template>
                  </a>
                </div>
              </div>
            </div>
            <hr>
            <div class="container" *ngFor="let cookStep of  cookStepsView; let j =index">
              <div class="row" style="margin-top: 10px;">
                <div class="col-9" style="text-align: right;"><a style="color: olivedrab;">
                    {{cookStep.check?'là bước chuẩn bị':''}}</a> <a *ngIf="cookStep.time"> {{cookStep.time}}
                    phút</a></div>
                <div class="col-2">

                </div>
                <div class="col-3 ">
                  <div
                    style="border: 1px solid gray; border-radius: 5px; background: rgb(230, 230, 230); padding: 5px 5px; text-align: center;width: auto!important;height: auto;">
                    <a>Bước {{j + 1}}</a>
                    <i class="fa fa-check-circle fa-lg" id="iconTab{{j}}" aria-hidden="true"
                      (click)="changeIconTab($event,j)"></i>
                  </div>
                </div>
                <div class="col-8"> <a> {{ cookStep.psnote }}</a></div>
              </div>
              <div class="container" *ngIf="!showImageStep"
                style="margin: 10px 10px; float: left; display: block; overflow: hidden;">

                <div class="row" id="image{{ i }}" *ngFor="let imageUrl of cookStep.image; let i = index"
                  style="margin: 10px 10px; float: left; display: block; overflow: hidden;">
                  <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                      <cl-transformation height="100" width="100" crop="scale">
                      </cl-transformation>
                    </cl-image> -->
                  <div>
                    <cl-image public-id="{{ imageUrl }}" *ngIf="imageUrl">
                      <cl-transformation height="120" radius="20" width="120" crop="scale">
                      </cl-transformation>
                      <cl-transformation angle="0"> </cl-transformation>
                    </cl-image>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngFor=" let cookStep of cookStepsView; let j =index" style="min-height: 400px; height: auto;"
              class="bigC">
              <div style="position: relative; height: auto;min-height: 400px;margin-top: 10px; " class="noImage1">
                <div
                  style="border: 1px solid gray; border-radius: 5px; background: rgb(230, 230, 230); padding: 5px 5px; text-align: center;width: 60px !important;height: 50px;">
                  <a>Bước {{j + 1}}</a>
                  <i class="fa fa-check-circle fa-lg" id="iconTab{{j}}" aria-hidden="true"
                    (click)="changeIconTab($event,j)"></i>
                </div>
                <div>
                  <div class="row" style="padding: 5px 5px;"><a> {{cookStep.psnote}}</a></div>
                  <div class="row" style="margin: 10px 10px; padding: 0 0;" *ngIf="!showImageStep">
                    <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                                <cl-transformation height="100" width="100" crop="scale">
                                </cl-transformation>
                              </cl-image>
                    <div class=".col-md-8"
                      style="max-width: 200px; margin:  10px 10px; display: block; overflow: hidden;" id="image{{i}}"
                      *ngFor="let imageUrl of cookStep.image; let i = index">
                      <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                        <cl-transformation height="80" radius="5" width="80" crop="scale">
                        </cl-transformation>
                        <cl-transformation angle="0">
                        </cl-transformation>
                      </cl-image>

                    </div>

                  </div>
                </div>

              </div>
            </div> -->
          </div>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
  </div>
</div>
<app-scroll-top></app-scroll-top>
<button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#staticBackdrop"
  id="modal-button">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: rgb(3, 179, 3); color: white;">
        <h5 class="modal-title" id="staticBackdropLabel">Thông báo hệ thống</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
        <p style="text-align:center;" *ngIf="message">{{message}}</p>
        <br>
        <br>
        <div class="row" *ngIf="!messageModal">
          <div class="col">
            <button style="width: 100px; background: white; border: 1px solid greenyellow;float: right;" *ngIf="accept"
              (click)="acceptRecipe(true)">Duyệt</button>
            <button style="width: 100px; background: white; border: 1px solid red;float: right;" *ngIf="!accept"
              (click)="declineRecipe(false)">Từ chối</button>
          </div>
          <div class="col">
            <button type="button" id="close-button" style="width: 100px; background: white; border: 1px solid black;"
              data-dismiss="modal" aria-label="Close">
              Hủy
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #skeleton2>
  <!-- <main class="container mt-2">
    <div class="row">
      <div class="col-4 col-lg-2 p-2">
        <div class="user-img m-2 mr-auto ml-auto">
          <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
        </div>
      </div>
      <div class="col-8 col-lg-10 pt-3 sm-text-center">
        <h2 class="display-5 text-capitalize sm-mr-auto sm-ml-auto"></h2>
        <p class="lead sm-mr-auto sm-ml-auto"></p>
        <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
      </div>
    </div>
  </main> -->
  <section style="width: 100%; min-height: auto;">
    <!-- <div class="pt-2 pb-4 text-center">
      <h5 class="mr-auto ml-auto"></h5>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="card ">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 100%;"></h5>
              <!-- <p class="card-text"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
              </div> -->
            </div>
          </div>
          <div class="card ">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 100%;"></h5>
              <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
            </div>
          </div>
          <div class="card ">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 50px;margin-left: -15px; width: 100%;"></h5>
              <!-- <p class="card-text"></p>
                  <div class="form-inline">
                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                  </div> -->
            </div>
          </div>

          <div class="card ">

            <div class="card-body text-center">
              <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 100%;"></h5>

            </div>
          </div>
          <div class="card ">
            <div class="card-body text-center">
              <div>

                <div>
                  <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                  </h5>

                </div>
              </div>
              <div style="margin-top: 100px;">
                <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                </h5>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row-4">
            <div class="col">
              <div class="card ">

                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 1000px;margin-left: -15px; width: 100%;"></h5>

                </div>
              </div>
            </div>
            <div class="col">

            </div>
          </div>

        </div>

      </div>


    </div>
  </section>
</ng-template>