<!------------------ Hover Effect Style : Demo - 21 --------------->
<br>
<div class="container" style="min-height: 500px;">
  <h4 class="text-left">TOP THÀNH VIÊN NỔI BẬT</h4>
  <hr>
  <ng-template #skeleton>
    <!-- <main class="container mt-2">
      <div class="row">
        <div class="col-4 col-lg-2 p-2">
          <div class="user-img m-2 mr-auto ml-auto">
            <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
          </div>
        </div>
        <div class="col-8 col-lg-10 pt-3 sm-text-center">
          <h2 class="display-5 text-capitalize sm-mr-auto sm-ml-auto"></h2>
          <p class="lead sm-mr-auto sm-ml-auto"></p>
          <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
        </div>
      </div>
    </main> -->
    <section style="width: 100%; min-height: auto;">
      <!-- <div class="pt-2 pb-4 text-center">
        <h5 class="mr-auto ml-auto"></h5>
      </div> -->
      <div class="row">
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 15px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: -45px;">
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width: 210px;">
          <div class="card " style="border-radius: 15px;">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title"
                style="height: 100px;border-radius: 50px; width: 100px;margin-top: -10px;margin-left: 10px;">
              </h5>
              <p class="card-text" style="width: 120px;"></p>
              <div class="form-inline">
                <a href="#" class="btn btn-outline-primary mr-auto ml-auto" style="height: 20px;width: 120px;"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
  <div class="member-list top-followers row10" *ngIf="loadingSuccess; else skeleton">
    <div class="member-item-wrapper" *ngFor="let user of topUsers; let i = index">
      <div class="member-item">
        <div class="member-profile nopadding">
          <div class="avatar z-effect" style="cursor: pointer;">
            <cl-image public-id="{{user.imageUrl}}" style="border-radius: 50px;">
              <cl-transformation width="120" height="120" gravity="face" radius="max" crop="fill" background="#e9ebee">
              </cl-transformation>
              <cl-transformation width="85" crop="scale">
              </cl-transformation>
            </cl-image>
          </div>
          <div class="profile">
            <a class="cooky-user-link name" data-userid="299014" [routerLink]="['/member/info/', user._id]"
              target="_self" data-hasqtip="47">{{user.name}}</a>
            <span class="stats-text user-lvl cookee">cookee</span>
            <div class="stats">
              <span class="stats-item">
                <span class="stats-text" style="margin: 2px;">Tổng điểm</span>
                <span class="stats-count" style="margin: 2px;">{{user.totalPoint}}</span>
              </span>
            </div>
            <div class="stats">
              <span class="stats-item">
                <span class="stats-text" style="margin: 2px;">Công thức</span>
                <span class="stats-count" style="margin: 2px;">{{user.role}}</span>
              </span>
            </div>
            <div class="stats">
              <span class="stats-item">
                <span class="stats-text" style="margin: 2px;">Bộ sưu tập</span>
                <span class="stats-count" style="margin: 2px;">{{user.warningReport}}</span>
              </span>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<section class="call-to-action" style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
        <p><br><br> Tinh hoa ẩm thực ăn chay
          <br>Ăn chay vì sức khỏe
          <br>Ăn chay cho lòng thanh tịnh
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container" style="min-height: 200px; width: 100%;">
  <h4 class="text-left">DANH SÁCH THÀNH VIÊN MỚI</h4>
  <hr>
  <div class="member-list-left">
    <div class="member-list-container tab-content">
      <div role="tabpanel" id="latestlist" class="tab-pane active"
        *ngFor="let user of allUser|paginate:{itemsPerPage: 4, currentPage:p}; let i = index">
        <div class="member-list row10">
          <div class="member-item-wrapper">
            <div class="member-item">
              <div class="member-profile nopadding">
                <div class="avatar z-effect">

                  <cl-image public-id="{{user.imageUrl}}" style="border-radius: 50px; cursor: pointer;">
                    <cl-transformation width="60" height="60" gravity="face" radius="max" crop="fill"
                      background="#e9ebee">
                    </cl-transformation>
                    <cl-transformation width="40" crop="scale">
                    </cl-transformation>
                  </cl-image>
                </div>
                <div class="profile">
                  <a [routerLink]="['/member/info/', user._id]" class="cooky-user-link name" data-userid="515973"
                    target="_self" data-hasqtip="60" aria-describedby="qtip-60">{{user.name}}</a>
                  <div class="stats">
                    <span>
                      <span class="stats-count" style="margin: 2px;">{{user.role}}</span>
                      <span class="stats-text" style="margin: 2px;">Công thức</span>
                    </span>
                    <span>
                      <span class="stats-count" style="margin: 2px;">{{user.warningReport}}</span>
                      <span class="stats-text" style="margin: 2px;">Bộ sưu tập</span>
                    </span>
                  </div>
                  <!-- <div class="member-acts">
                    <button ng-show="visible()" title="Quan tâm" ng-click="follow()" class="btn-follow ng-isolate-scope"
                      ng-class="itemClass()" userid="515973" status="0" type="1">

                    </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" style="width: 1300px;float: left;"></pagination-controls>
<div class="clearfix"></div>
<app-scroll-top></app-scroll-top>