<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
        <p><br><br>{{ 'connect.the.city' | translate }}
          <br>{{ 'develop.for.the.furture' | translate }}
          <br>{{ 'no.polution.furture' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=1500 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-bar-chart"></i>

      <p>{{ 'grow.up.registration' | translate }}</p>
      <h3>{{ 'registration' | translate }}</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=100 size="small" color="white" speed="10" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-calendar-check-o"></i>

      <p>{{ 'ontime' | translate }}</p>
      <h3>{{ 'start.ontime' | translate }}</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay="300ms">
    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=600 size="small" speed="10" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-cogs"></i>

      <p>{{ 'train.driver.service' | translate }}</p>
      <h3>{{ 'good.operation' | translate }}</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 wow fadeInRight" data-wow-duration="2s" data-wow-delay="300ms">

    <div class="counter-item">
      <div class="timer" id="item3" data-to="18745" data-speed="5000">
        <ngx-counter countValue=0 limit=1200 size="small" speed="1" color="white" bgcolor="none" theme="white">
        </ngx-counter>
      </div>
      <i class="fa fa-male">
      </i>

      <p>{{ 'train.service' | translate }}</p>
      <h3>{{ 'passenger.flows' | translate }}</h3>
    </div>
  </div>
</div>