<div class="row" style="margin-left: 100px;">
  <ul *ngIf="recipe" class="breadcrumb nomargin">
    <li><a class="atitle" routerLink="/recipe" target="_self">Công thức /</a></li>
    <!-- <li><a class="atitle" routerLink="/about" target="_self">#Tag /</a></li> -->
    <li class="active">
      <a class="atitle">{{ recipe.recipeName }}</a>
    </li>
  </ul>
</div>
<div class="row" *ngIf="recipe" style="width: 90%;margin-left: 5%;padding: 0 15px; ">
  <div class="col-8" style="position: relative; font-size: 13px; text-align: center; ">
    <div class="image-preview mb-3" style="margin-top: 5%;border-radius: 20px;background: white;">
      <cl-image public-id="{{ recipe.imageUrl }}" style="margin-top: 60px;">
        <cl-transformation width="650" height="350" crop="scale" quality="auto" radius="20">
        </cl-transformation>
      </cl-image>
      <div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%; margin-bottom: 2%;"></div>
      <a>Loại món: </a>
      <a class="atitle1"> {{ recipe.foodType[0].foodTypeName }}</a>
      <a> Cách thức thực hiện: </a>
      <a class="atitle1"> {{ recipe.cookWay[0].cookWayName }}</a>

      <h4 style=" text-transform: uppercase;margin-top: 25px; margin-bottom: 35px;">
        {{ recipe.recipeName }}
      </h4>
      <div class="row row-cols-4">
        <div class="col"></div>
        <div class="col">
          <div class="row">
            <div class="col">Nguyên liệu</div>
            <div class="col">Thực hiện</div>
          </div>
          <div class="row">
            <div class="col">
              <a style="color: orange; font-size: 16px;font-weight:bolder;">{{
                recipe.ingredients.length
              }}</a>
            </div>
            <div class="col">
              <a style="color: orange;font-size: 16px;font-weight:bolder;">{{
                recipe.time
              }}</a>
              &#160;<a class="atitle">ph</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">Phần</div>
            <div class="col">Độ khó</div>
          </div>
          <div class="row">
            <div class="col">
              <a style="color: orange;font-size: 16px;font-weight:bolder;">04</a>
              &#160;<a class="atitle">người</a>
            </div>
            <div class="col" *ngIf="recipe.hardLevel">
              <a style="font-size: 16px;">{{ recipe.hardLevel }}</a>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div style="background: #f4f4f4; height: 150px; border-radius: 0 0 20px 20px; margin: 30px 0; padding: 30px;">
        <div class="row row-cols-2" style="padding:5px 80px;">
          <div class="col">
            <div class="row row-cols-2">
              <div class="col">
                <!-- <img src="../../../assets/images/heart-o.png" (click)="likeRecipe(recipe)"
                  *ngIf="!like; else other_content" style="width: 30px;height: 30px; margin-left: 2px; opacity: 0.8;" />
                <ng-template #other_content>
                  <img src="../../../assets/images/heart-o.red.png" (click)="dislikeRecipe(recipe, i)"
                    style="width: 30px;height: 30px; margin-left: 2px;opacity: 1;" />
                </ng-template>
                &#160;&#160;&#160;&#160;{{recipe.totalPoint}} -->
                <a class=" btn-act btn-add-favourite ng-isolate-scope" title="Yêu thích món ăn"
                  style="margin-left: 50px;">
                  <span (click)="likeRecipe(recipe,i)" *ngIf="!likeUser;else other_content100"><i id="heart{{i}}"
                      class="fa fa-heart fa-3x heart" aria-hidden="true" style="margin-left: 55px;"></i></span>
                  <ng-template #other_content100>
                    <span (click)="dislikeRecipe(recipe,i)"><i class="fa fa-heart fa-3x dislikeheart "
                        style="margin-left: 55px;" id="heart{{i}}" aria-hidden="true"></i></span>
                  </ng-template>{{recipe.totalPoint}}
                </a>
              </div>
              <div class="col">
                <a (click)="addDoneRecipe(recipe)"><img src="../../../assets/images/check-o.gray.png"
                    *ngIf="!recipe.like; else other_content11111"
                    style="width: 30px;height: 30px; margin-left: 2px;" />&#160;&#160;&#160;&#160;{{doneCount}}</a>
                <ng-template #other_content11111>
                  <img src="../../../assets/images/check-o.red.png"
                    style="width: 30px;height: 30px; margin-left: 2px;" />
                </ng-template>
              </div>
              <div class="col">
                <app-add-bookmark [childMessage]="recipe"></app-add-bookmark>
              </div>
            </div>
            <div class="row row-cols-2" style=" font-weight: 500;font-size: 14px;">
              <div class="col"><a>Lượt thích</a></div>
              <div class="col">
                <a>Đã thực hiện</a>
              </div>
              <div class="col"><a>Lưu lại</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span *ngIf="recipe.videoLink" (click)='video(recipe.videoLink)'><img
        src="../../../assets/images/cooky-video-play-fill-2.png"
        style="top:250px;left:360px;width: 50px;height: 50px; position: absolute;" /></span>
    <div style="background: white; border-radius: 10px;margin-top: 5px; padding-top: 30px;">
      <div class="row">
        <div class="col col-lg-2">
          <cl-image public-id="{{ recipe.user.imageUrl }}" style="border-radius: 50px;">
            <cl-transformation width="150" height="150" gravity="face" radius="max" crop="fill" background="#e9ebee">
            </cl-transformation>
            <cl-transformation width="75" crop="scale"> </cl-transformation>
          </cl-image>
        </div>
        <div class="col">
          <div class="row atitle"><a>Công thức đăng bởi</a></div>
          <div class="row">
            <a>{{recipe.user.name}}</a>
          </div>
          <div class="row">

          </div>
        </div>
        <div class="col" style="text-align: right; padding-right: 50px;">
          <a><span style="color: red;">{{recipe.user.totalPoint}}</span>&#160;điểm</a>
          <br>
          <a><span style="color: red;">{{totalRecipe}}</span>&#160;công
            thức</a>

          <!-- <button title="Quan tâm" ng-click="follow()" class="button1">
            ngIf: status != 1<span ng-if="status != 1" class="ng-scope">Quan tâm</span>
            end ngIf: status != 1
          </button> -->
        </div>
      </div>
      <div class="row" style="padding: 20px;">
        <div class="col col-lg-2"></div>
        <div class="col" style="text-align:start;">
          <a>{{ recipe.content }}</a>
        </div>
      </div>
    </div>

    <div class="card " style="background: #e9ebee;padding: 20px 0; margin-top: 10px; border: none; box-shadow: none;">
      <div class="row">
        <div class="col ">
          <nav style="background: white; border-radius: 10px 10px 10px 10px;">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true" style="font-size: 14px;">
                {{ "cong.thuc" | translate }}</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false" style="font-size: 14px;">Bình luận
              </a>
            </div>
          </nav>

          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div style="background: white; border-radius: 10px; padding: 30px 0;display: block;
                overflow: hidden;padding-left: 15px;">
                <div class="row">
                  <div class="col-sm-6 col-md-8" style="text-align:start;">
                    <a
                      style="font-size: 20px;font-weight: 500;font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Nguyên
                      liệu làm &#160;{{ recipe.recipeName }}</a>
                    <br /><a class="atitle">cho
                      <span style="color: red; margin-left: 5px;">{{
                        multiplyElement
                      }}</span>
                      Phần ăn
                    </a>
                  </div>
                  <div class="col-6 col-md-4">
                    <i class="fa fa-cutlery fa-lg" style="color: rgb(155, 15, 15);" aria-hidden="true"></i>&#160;
                    <a>Phần ăn</a>&#160;&#160;&#160;&#160;&#160;<input type="number" id="multiplyElement" min="1"
                      pattern="[0-9]+" [(ngModel)]="multiplyElement" (change)="countIngredient(multiplyElement)"
                      style="width: 46px;height: 25px;margin-right: 5px;" /><a><i
                        (click)="countIngredient(multiplyElement)" class="fa fa-refresh fa-lg"
                        aria-hidden="true"></i></a>
                  </div>
                </div>
                <div *ngFor="let ingredient of recipe.ingredients; let i = index">
                  <div style="width: 30%; float: left;text-align: left;padding-top:20px ;">
                    <a>
                      <i class="fa fa-check fa-lg" style="color: rgb(95, 228, 6);" aria-hidden="true"></i>
                      {{ ingredient.ingredientName }}&#160;&#160;&#160;<a>{{
                        ingredient.quantitative
                      }}</a>&#160;&#160; {{ ingredient.typeOfquantitative }}</a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div
                style="background: white; border-radius: 10px;margin-top: 50px; padding: 30px 0; display: block;overflow: hidden;padding-left: 15px; text-align: left;">
                <div class="row">
                  <div class="col-sm-6 col-md-8" style="text-align:start;">
                    <a
                      style="font-size: 20px;font-weight: 500; font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Cách
                      làm &#160;{{ recipe.recipeName }}</a>
                    <br />
                    <a class="atitle" (click)="fullImage()">
                      <span class="active-button" *ngIf="viewFull;else other_content"><i class="fa fa-list fa-lg "
                          aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
                      <ng-template #other_content>
                        <span class="no-active-button"><i class="fa fa-list fa-lg "
                            aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
                      </ng-template>
                    </a>
                    <a class="atitle" (click)="noImage()">
                      <span class="no-active-button" *ngIf="viewFull;else other_content1">
                        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>&#160;&#160;Không hình</span>
                      <ng-template #other_content1>
                        <span class="active-button"><i class="fa fa-file-text-o fa-lg"
                            aria-hidden="true"></i>&#160;&#160;Không hình</span>
                      </ng-template>
                    </a>
                  </div>
                  <div class="col-6 col-md-4">
                    <a>Thực hiện:&#160;&#160;&#160;&#160;&#160;
                      {{recipe.doneCount }}</a>
                  </div>
                </div>
                <hr />
                <a class="atitle" style="margin-left:5%; font-size: 25px; color: #c5c5c5;">
                  Thực hiện</a>
                <!-- tìm hiểu để hiển thị bình luận -->
                <div *ngFor="let cookStep of cookSteps; let i = index" style="min-height: 400px;" class="bigContent">
                  <div style="position: relative; height: auto;min-height: 400px;" class="noImage">
                    <div
                      style="border-radius: 5px;position: absolute;text-align: center; top:60px; left: 50px;
                      padding-top: 5px; width: 70px;color: rgb(179, 179, 179);; background: #f8f8f8; border: 1px solid #c5c5c5;">
                      <a>Bước </a>
                      <br />
                      <a>{{ i + 1 }}</a>
                      <br />
                      <a>___</a><br />
                      <i class="fa fa-check-circle fa-lg" id="icon{{ i }}" aria-hidden="true"
                        (click)="changeIcon($event, i)"></i>
                    </div>
                    <div
                      style=" position: absolute; top:60px; right: 50px; width: 560px;text-align: left;padding-bottom: 5px;">
                      <div class="row"><a style="color: olivedrab;display: block;overflow: hidden;">
                          {{cookStep.check}}</a> <a *ngIf="cookStep.time"> {{cookStep.time}}
                          phút</a>
                      </div>
                      <div class="row">
                        <a> {{ cookStep.psnote }}</a>
                      </div>
                      <div class="container" *ngIf="!showImageStep">

                        <div class="row" id="image{{ i }}" *ngFor="let imageUrl of cookStep.image; let i = index"
                          style="margin: 10px 10px; float: left; display: block; overflow: hidden;">
                          <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                          <cl-transformation height="100" width="100" crop="scale">
                          </cl-transformation>
                        </cl-image> -->
                          <div>
                            <cl-image public-id="{{ imageUrl }}" *ngIf="imageUrl">
                              <cl-transformation height="150" radius="20" width="150" crop="scale">
                              </cl-transformation>
                              <cl-transformation angle="0"> </cl-transformation>
                            </cl-image>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
              style="min-height: 600px; text-align: left; background: white; padding-left: 5px;">
              <!-- Default switch -->
              <div style="width: 100%;font-size: 16px;">
                <br>
                <a style="margin-left: 10%;">Danh sách bình luận công thức </a>
                <div class="container" style="margin-top: 10px;"
                  *ngFor="let comment of recipeComment|paginate:{itemsPerPage: 6, currentPage:p};">
                  <div class="row">
                    <div class="col-4">
                      <cl-image public-id="{{ comment.user.imageUrl }}" style="border-radius: 50px;">
                        <cl-transformation width="100" height="100" gravity="face" radius="max" crop="fill"
                          background="#e9ebee">
                        </cl-transformation>
                        <cl-transformation width="50" crop="scale"> </cl-transformation>
                      </cl-image>
                      <br>
                      <a style="font-size: 12px;">Đăng bởi: {{comment.user.name}}</a>
                    </div>
                    <div class="col-8">
                      <a style="font-size: 12px;color: green;">{{comment.type}}</a>
                      <br>
                      <a>{{comment.content}}</a>
                      <br>
                      <div class="row" id="image{{ i }}" *ngFor="let imageUrl of comment.imageUrl; let i = index"
                        style="margin: 10px 0; float: left;">
                        <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                        <cl-transformation height="100" width="100" crop="scale">
                        </cl-transformation>
                      </cl-image> -->
                        <div *ngIf="!showImageStep">
                          <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                            <cl-transformation height="100" radius="20" width="100" crop="scale">
                            </cl-transformation>
                            <cl-transformation angle="0"> </cl-transformation>
                          </cl-image>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              <hr>
              <div class="container">
                <div class="row">
                  <div class="col-8">
                    <a style="font-size: 15px;">Thêm bình luận</a>
                  </div>
                  <div class="col">
                    <a style="font-size: 15px;">Đã thực hiện</a><input type="checkbox" [checked]="checkDone"
                      (change)="checkDone = !checkDone" style="margin-left: 60px;" />
                  </div>
                </div>
                <form class="form-signin" (ngSubmit)="addComment()" #loginForm="ngForm" [formGroup]="registerForm">
                  <textarea formControlName="content"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.content.errors }" id="content"
                    class="form-control" name="content" autocomplete="off" formControlName="content"
                    placeholder="Bình luận công thức " title="Please enter the content" required autofocus cols="8"
                    style="width: 80%;margin:10px 30px;"></textarea>
                  <div *ngIf="submitted &amp;&amp; registerForm.controls.content.errors" class="text-danger">
                    <div *ngIf="registerForm.controls.content.errors.required">Không để trống nội dung bình luận</div>
                  </div>
                  <!-- <input
                  type="file"
                  id="image"
                  class="form-control"
                  name="image"
                  autocomplete="off"
                  #upass="ngModel"
                  [(ngModel)]="userObject.image"
                  placeholder="Password"
                  title="Please enter the image"
                  required
                /> -->
                  <a>Thêm ảnh bình luận:</a>
                  <br />
                  <div class="container" style="width: 80%; margin-left: 5px;">
                    <div class="row">
                      <div class=".col-6 .col-md-4 hover" (fileOver)="fileOverBase1($event)"
                        style="width: 90px;height: 90px; border: 1px solid gray; float: left;position: relative;"
                        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver1 }">
                        <input type="file" multiple formControlName="image" (change)="handleFiles($event)"
                          accept="image/x-png,image/jpeg,image/jpg" style="width: 90px;height: 90px;opacity: 0;" /><a
                          style="position: absolute; left: 35px; top: 27px;"><i class="fa fa-picture-o"
                            aria-hidden="true"></i></a>
                      </div>
                      <div class=".col-md-8" id="gallery" style="position: relative; float: left; padding-left: 5px;">
                      </div>
                    </div>
                  </div>
                  <input type="text" id="imageArray" class="form-control" name="imageUrl" autocomplete="off" hidden
                    formControlName="imageUrl" />
                  <div class="clearfix"></div>
                  <div class="clearfix"></div>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                    style="width: 300px; margin-left: 30%;">
                    Đăng bình luận
                  </button>
                  <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </p>
                </form>
              </div>
              <br>
            </div>

            <!-- <p>{{profileForm.status}}</p> -->
            <nav style="width: 100%; background: white; border-radius:0 0 10px 10px; height: 60px; padding: 55px 0;">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="button_change" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                  style="font-size: 14px;margin-left: 35px;" aria-controls="nav-home" aria-selected="true">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  Công thức</a>
                <a class="button_change" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                  style=" font-size: 14px; margin-left: 550px;" aria-controls="na v-profile" aria-selected="false">Bình
                  luận
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-4" style="min-height: 500px;  border-radius: 5px; "></div>
    </div>
  </div>
  <div class="col" style="background: white; height: 800px; margin-top: 40px; border-radius: 20px;">
    <br>
    <a style="margin-top: 50px;">CÔNG THỨC LIÊN QUAN</a>
    <hr />
    <div class="row">
      <div class="col" *ngFor="let recipe of recipes; let i = index">
        <cl-image public-id="{{ recipe.imageUrl }}" [routerLink]="['/detail/', recipe._id]" (click)="loadPage()">
          <cl-transformation width="150" height="150" crop="scale" quality="auto" radius="20">
          </cl-transformation>
        </cl-image>
        <br />
        <a (click)="getRecipeDetail(recipe._id)" style="color: black;">{{ recipe.recipeName }}</a>
        <br /><a>{{ recipe.viewCount }} <a style="color: #c5c5c5;">lượt xem</a>
          {{ recipe.time }} phút</a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"
    id="modal-button1" hidden>Large modal</button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="height: auto;min-height: 600px;">
    <div class="modal-dialog modal-lg" role="document" style="height: auto;min-height: 600px;">
      <div class="modal-content" style="height: auto; margin-bottom: 50px;min-height: 600px;">
        <div class="modal-header">
          <ha class="modal-title" id="exampleModalLongTitle">Danh sách bộ sưu tập</ha>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container mt-40">
          <h5 class="text-left">Bộ sưu tập cá nhân</h5>
          {{message}}
          <div class="row mt-30">
            <div class="col-md-4 col-sm-6" *ngFor="let gallery of personalGallery" style="margin-bottom: 30px;">
              <div class="box3" (click)="addRecipeBookMark(gallery._id)">
                <cl-image public-id="{{gallery.image}}">
                  <cl-transformation height="171" width="235" crop="scale">
                  </cl-transformation>
                </cl-image>
                <div class="box-content">
                  <a class="title" style="font-size: 14px;">{{gallery.name}}</a>
                  <div style="float: left; width: 100%; height:0.5px; background: white;"></div>
                  <p class="description">
                    {{gallery.content}}
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" hidden="true" data-toggle="modal" data-target="#exampleModalCenter10"
    id="modal-button10">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
      </div>
    </div>
  </div>
  <app-scroll-top></app-scroll-top>
</div>