<br>
<br>
<div class="row" *ngIf="loadingSuccess1; else skeleton1"
     style="width: 90%;margin-left: 5%;padding: 0 15px; margin-top: -100px;">
  <div class="col-8" style="position: relative; font-size: 13px; text-align: center; ">
    <div class="image-preview mb-3" style="margin-top: 1%;border-radius: 20px;background: white;">
      <div style="margin-top: 60px;position: relative;" class="iframe-container">
        <iframe *ngIf="showVideo"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                [src]="displayURL">
        </iframe>
        <img style="width: 100%;height: auto;image-rendering:crisp-edges;" *ngIf="!showVideo"
             src="{{baseImageUrl+ recipe.imageUrl }}"/>
        <span *ngIf="recipe.videoLink&&!showVideo" (click)='video()'><img
          src="../../../assets/images/cooky-video-play-fill-2.png"
          style="top: 48%;left: 48%;width: 50px;height: 50px; position: absolute;background: none;"/></span>
      </div>
      <div style="background: white; margin-top: 2%;height: 2px;width: 90%;margin-left: 5%; margin-bottom: 2%;"></div>
      <a>Loại món: </a>
      <a class="atitle1"> {{ recipe.foodType[0].foodTypeName }}</a>
      <a> Cách thức thực hiện: </a>
      <a class="atitle1"> {{ recipe.cookWay[0].cookWayName }}</a>

      <h4 style=" text-transform: uppercase;margin-top: 25px; margin-bottom: 35px;">
        {{ recipe.recipeName }}
      </h4>
      <div class="row row-cols-4">
        <div class="col"></div>
        <div class="col">
          <div class="row">
            <div class="col">Nguyên liệu</div>
            <div class="col">Thực hiện</div>
          </div>
          <div class="row">
            <div class="col">
              <a style="color: orange; font-size: 16px;font-weight:bolder;">{{
                recipe.ingredients.length
                }}</a>
            </div>
            <div class="col">
              <a style="color: orange;font-size: 16px;font-weight:bolder;">{{
                recipe.time
                }}</a>
              &#160;<a class="atitle">ph</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">Phần</div>
            <div class="col">Độ khó</div>
          </div>
          <div class="row">
            <div class="col">
              <a style="color: orange;font-size: 16px;font-weight:bolder;">04</a>
              &#160;<a class="atitle">người</a>
            </div>
            <div class="col" *ngIf="recipe.hardLevel">
              <a style="font-size: 16px;">{{ recipe.hardLevel }}</a>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div style="background: white; border-radius: 10px;margin-top: 15px; padding-top: 30px;">
      <div class="row">
        <div class="col col-lg-2">
          <img style="height: 55px;width:55px;border-radius:50px;" src="{{baseImageUrl+ recipe.user.imageUrl }}"/>
        </div>
        <div class="col">
          <div class="row">
            <a>{{recipe.user.name}}</a>
          </div>
          <div class="row">
            <a><span style="color: red;">{{recipe.user.totalPoint}}</span>&#160;điểm</a>
            <a><span style="color: red;">{{totalRecipe}}</span>&#160;công
              thức</a>
          </div>
        </div>
        <div class="col" style="text-align: right; padding-right: 50px;">
          <div class="row row-cols-2" *ngIf="!waitingRecipe">
            <div class="col">
              <a class=" btn-act btn-add-favourite ng-isolate-scope" title="Yêu thích món ăn"
                 (click)="likeRecipe(recipe,i)" *ngIf="!likeUser;else other_content100">
                <img src="../../../assets/images/heart-o.gray.png"
                     id="heart{{i}}"
                     style="width: 30px;height: 30px; background: none;cursor: pointer;"/>&#160;&#160;&#160;&#160;{{recipe.totalPoint}}

              </a>
              <ng-template #other_content100>
                    <span (click)="dislikeRecipe(recipe,i)"> <img src="../../../assets/images/heart-fill-red.png"
                                                                  style="width: 30px;height: 30px;background: none;cursor: pointer;"/>&#160;&#160;&#160;&#160;{{recipe.totalPoint}}</span>

              </ng-template>
            </div>
            <div class="col">
              <a><img src="../../../assets/images/check-o.gray.png"
                      *ngIf="!recipe.like; else other_content11111"
                      style="width: 30px;height: 30px; background: none;"/>&#160;&#160;&#160;&#160;{{doneCount}}
              </a>
              <ng-template #other_content11111>
                <img src="../../../assets/images/check-o.red.png"
                     style="width: 30px;height: 30px;background: none;cursor: pointer;"/>
              </ng-template>
            </div>
            <div class="col">
              <app-add-bookmark [childMessage]="recipe"></app-add-bookmark>
            </div>
          </div>
          <!-- <button title="Quan tâm" ng-click="follow()" class="button1">
            ngIf: status != 1<span ng-if="status != 1" class="ng-scope">Quan tâm</span>
            end ngIf: status != 1
          </button> -->
        </div>
      </div>
      <div class="row" style="padding: 20px;">
        <div class="col col-lg-2"></div>
        <div class="col" style="text-align:start;">
          <a>{{ recipe.content }}</a>
        </div>
      </div>
    </div>

    <div style="padding: 20px 0; border: none; box-shadow: none;">
      <div style="background: white; border-radius: 10px; display: block;
                overflow: hidden;padding:30px 15px;">

        <br>
        <div class="row">
          <div class="col-sm-6 col-md-8" style="text-align:start;">
            <a
              style="font-size: 20px;font-weight: 500;font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Nguyên
              liệu làm &#160;{{ recipe.recipeName }}</a>
            <br/><a class="atitle">Cho
            <span style="color: red; margin-left: 5px;">{{ multiplyElement}}</span>
            Phần ăn
          </a>
          </div>
          <div class="col-6 col-md-4">
            <i class="fa fa-cutlery fa-lg" style="color: rgb(155, 15, 15);" aria-hidden="true"></i>&#160;
            <a>Phần ăn</a>&#160;&#160;&#160;&#160;&#160;<input type="number" id="multiplyElement" min="1"
                                                               pattern="[0-9]+" [(ngModel)]="multiplyElement"
                                                               (change)="countIngredient(multiplyElement)"
                                                               style="width: 46px;height: 25px;margin-right: 5px;"/><a><i
            (click)="countIngredient(multiplyElement)" class="fa fa-refresh fa-lg"
            aria-hidden="true"></i></a>
          </div>
        </div>
        <div *ngFor="let ingredient of recipe.ingredients; let i = index">
          <div style="width: 30%; float: left;text-align: left;padding:20px 20px;">
            <a>
              <i class="fa fa-check fa-lg" style="color: rgb(95, 228, 6);" aria-hidden="true"></i>
              {{ ingredient.ingredientName }}&#160;&#160;&#160;<a>{{
              ingredient.quantitative
              }}</a>&#160;&#160; {{ ingredient.typeOfquantitative }}</a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div
        style="background: white; border-radius: 10px;margin-top: 15px; padding: 30px 0; display: block;overflow: hidden;padding-left: 15px; text-align: left;">
        <div class="row">
          <div class="col-sm-6 col-md-8" style="text-align:start;">
            <a
              style="font-size: 20px;font-weight: 500; font-family: Arial,'Open Sans',Helvetica,Arial,sans-serif; ">Cách
              làm &#160;{{ recipe.recipeName }}</a>
            <br/>
            <br>
            <a class="atitle" (click)="fullImage()">
                      <span class="active-button" *ngIf="viewFull;else other_content"><i class="fa fa-list fa-lg "
                                                                                         aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
              <ng-template #other_content>
                        <span class="no-active-button"><i class="fa fa-list fa-lg "
                                                          aria-hidden="true"></i>&#160;&#160;Xem đầy đủ&#160;</span>
              </ng-template>
            </a>
            <a class="atitle" (click)="noImage()">
                      <span class="no-active-button" *ngIf="viewFull;else other_content1">
                        <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>&#160;&#160;Không hình</span>
              <ng-template #other_content1>
                        <span class="active-button"><i class="fa fa-file-text-o fa-lg"
                                                       aria-hidden="true"></i>&#160;&#160;Không hình</span>
              </ng-template>
            </a>
          </div>
          <div class="col-6 col-md-4">
            <a>Thực hiện:&#160;&#160;&#160;&#160;&#160;
              {{recipe.doneCount }}</a>
          </div>
        </div>
        <hr/>
        <a class="atitle" style="margin-left:5%; font-size: 25px; color: #c5c5c5;">
          Thực hiện</a>
        <!-- tìm hiểu để hiển thị bình luận -->
        <br>
        <div class="container" *ngFor="let cookStep of cookSteps; let i = index">
          <div class="row" style="margin-top: 10px;">
            <div class="col-9" style="text-align: right;"><a style="color: olivedrab;">
              {{cookStep.check}}</a> <a *ngIf="cookStep.time"> {{cookStep.time}}
              phút</a></div>
            <div class="col-2">

            </div>
            <div class="col-2 ">
              <div
                style="border-radius: 5px;text-align: center; margin-left: 30%;
                      padding-top: 5px; width: 70px;color: rgb(179, 179, 179);; background: #f8f8f8; border: 1px solid #c5c5c5;">
                <a>Bước </a>
                <br/>
                <a>{{ i + 1 }}</a>
                <br/>
                <a>___</a><br/>
                <i class="fa fa-check-circle fa-lg" id="icon{{ i }}" aria-hidden="true"
                   (click)="changeIcon($event, i)"></i>
              </div>
            </div>
            <div class="col-9"><a> {{ cookStep.psnote }}</a></div>
          </div>
          <div class="container" *ngIf="!showImageStep"
               style="margin: 10px 10px; float: left; display: block; overflow: hidden;">

            <div class="row" id="image{{ i }}" *ngFor="let imageUrl of cookStep.image; let i = index"
                 style="margin: 10px 10px; float: left; display: block; overflow: hidden;">
              <!-- <cl-image public-id="{{imageUrl}}" *ngIf="imageUrl">
                  <cl-transformation height="100" width="100" crop="scale">
                  </cl-transformation>
                </cl-image> -->
              <div *ngIf="imageUrl">
                <img style="height: 150px;width:150px;" src="{{baseImageUrl+ imageUrl }}" alt=""/>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div
        style="border-radius:15px; text-align: left; background: white; padding: 10px 10px;margin-top:15px;">
        <!-- Default switch -->
        <a style="color: #7f7f7f;">BÌNH LUẬN</a>
        <br>
        <br>
        <div class="row" *ngIf="!registerComment" (click)="registerCommentUpload()"
             style="margin-left:5%; cursor:pointer;">
          <div
            style="width:84%; border: 1px solid #cecbcb; padding: 20px 20px; border-radius: 10px  0 0 10px;color:grey;">
            <span><i class="fa fa-picture-o" aria-hidden="true"></i>
            &#160; &#160;&#160; &#160;Đăng bình luận</span>
          </div>
          <div style="width:10%;text-align: center;background-color:#c0f072;color:white;padding: 20px 20px; ">Đăng</div>
        </div>
        <div class="container" *ngIf="registerComment"
             style="border: 1px solid #bbbbbb; border-radius: 10px;padding: 20px 20px;">
          <form class="form-signin" (ngSubmit)="addComment()" #loginForm="ngForm" [formGroup]="registerForm">
                  <textarea formControlName="content"
                            [ngClass]="{ 'is-invalid': submitted&&registerForm.controls.content.errors }"
                            id="content"
                            class="form-control" name="content" autocomplete="off"
                            placeholder="Bình luận công thức " title="Please enter the content" autofocus cols="8"
                            style="width: 95%;margin:20px 10px;resize: none;"></textarea>

            <!-- <input
            type="file"
            id="image"
            class="form-control"
            name="image"
            autocomplete="off"
            #upass="ngModel"
            [(ngModel)]="userObject.image"
            placeholder="Password"
            title="Please enter the image"
            required
          /> -->
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <br>
            <div class="row">
              <div class="col-4">
                <a style="font-size: 10px;">Đã thực hiện &#160; &#160; &#160;</a> <input type="checkbox"
                                                                                         [checked]="checkDone"
                                                                                         (change)="checkDone = !checkDone"
                                                                                         style="margin-left: 60px;"/>
              </div>
              <div class="col-8">

                <div class="row">
                  <div class="col">
                    <a class="register-button" (click)="allowAddImage($event)">
                      <img src="../../../assets/images/photo-camera-o.64.green.png"
                           style="width: 18px;height: 18px; background: none;cursor: pointer;"/> Tải thêm hình
                    </a>
                  </div>
                  <div class="col" style=" float: right;">
                    <button type="submit" class="register-image"
                            *ngIf="!loading; else other_content101">
                      Gửi bình luận
                    </button>
                    <ng-template #other_content101>
                      <button class="register-image" disabled="disabled"
                              style="position: relative;">
                        <div class="spinner-border text-success" role="status"
                             style="height: 20px; width: 20px; position: absolute; top: 7px; left:10px">
                          <span class="sr-only"></span>
                        </div>

                      </button>
                    </ng-template>
                  </div>

                </div>

              </div>
            </div>
            <input type="text" id="imageArray" class="form-control" name="imageUrl" autocomplete="off" hidden
                   formControlName="imageUrl"/>
            <div class="row" *ngIf="imageAddDone">
              <a>Thêm ảnh thực hiện:</a>
              <br/>
              <div class="container" style="width: 80%; margin-left: 5px;">
                <div class="row">
                  <app-imageupload [imageProp]="'roomDetail'" (imageSrcUrl)="getImageSrcTypeRoom($event)"
                                   (indexDelete)="getIndexDelete($event)"
                                   [multiple]="true"
                                   [imageRoomProp]="'roomDetail'"
                                   [resetAll]="resetAll"></app-imageupload>
                </div>
              </div>

            </div>
            <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
              {{ errorMessage }}
            </p>
          </form>

        </div>
        <div style="width: 100%;font-size: 16px;">
          <div class="container" style="margin-top: 20px;display: block; overflow: hidden;"
               *ngFor="let comment of recipeComment|paginate:{itemsPerPage: 6, currentPage:p};">
            <div class="row">
              <hr>
              <div class="col-4" style="padding-left: 20px;">
                <div class="row">
                  <div class="col-3">
                    <img style="height: 50px;width:50px;border-radius:50px;"
                         src="{{baseImageUrl+comment.user.imageUrl  }}"/>
                  </div>
                  <div class="col-8">

                    <a style="font-size: 12px;"> {{comment.user.name}}</a>
                    <br>
                    <a style="font-size: 12px;"> {{comment.createdAt|date:'dd/MM/yyyy'}}</a>

                  </div>
                </div>

              </div>
              <div class="col-8">
                <a style="font-size: 12px;color: green;" *ngIf="comment.type">{{comment.type}}</a>
              </div>
            </div>
            <br>
            <div class="row">
              <br>
              <a>{{comment.content}}&#160;</a>
              <br>
            </div>
            <div class="row" id="image{{ i }}" *ngFor="let imageUrl of comment.imageUrl; let i = index"
                 style="margin: 10px 0; float: left;">
              <div *ngIf="imageUrl" class="col">
                <img style="height: 100px;width:100px;"
                     src="{{baseImageUrl+imageUrl }}"/>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4" style="background: white;  margin-top: 40px; border-radius: 20px;display: block;
                overflow: hidden;">
    <br>
    <a style="margin-top: 50px;color: #7f7f7f;">CÔNG THỨC LIÊN QUAN</a>
    <hr/>
    <div class="row">
      <div class="col" *ngFor="let recipe of recipes; let i = index">
        <img style="width: 100%;height: auto;image-rendering:crisp-edges;" (click)="getRecipeDetail(recipe.nameSpace)"
             src="{{baseImageUrl+ recipe.imageUrl }}"/>
        <br/>
        <a (click)="getRecipeDetail(recipe.nameSpace)" style="color: black;">{{ recipe.recipeName }}</a>
        <br/><a>{{ recipe.viewCount }} <a style="color: #c5c5c5;">lượt xem</a>
        {{ recipe.time }} phút</a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"
          id="modal-button1" hidden>Large modal
  </button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true" style="height: auto;">
    <div class="modal-dialog modal-lg" role="document" style="height: auto;min-height: 600px;">
      <div class="modal-content" style="height: auto; margin-bottom: 50px;min-height: 600px;">
        <div class="modal-header">
          <ha class="modal-title" id="exampleModalLongTitle">Danh sách bộ sưu tập</ha>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container mt-40">
          <h5 class="text-left">Bộ sưu tập cá nhân</h5>
          {{message}}
          <div class="row mt-30">
            <div class="col-md-4 col-sm-6" *ngFor="let gallery of personalGallery" style="margin-bottom: 30px;">
              <div class="box3" (click)="addRecipeBookMark(gallery._id)">
                <cl-image public-id="{{gallery.image}}">
                  <cl-transformation height="171" width="235" crop="scale">
                  </cl-transformation>
                </cl-image>
                <div class="box-content">
                  <a class="title" style="font-size: 14px;">{{gallery.name}}</a>
                  <div style="float: left; width: 100%; height:0.5px; background: white;"></div>
                  <p class="description">
                    {{gallery.content}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" hidden="true" data-toggle="modal" data-target="#exampleModalCenter10"
          id="modal-button10">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
      </div>
    </div>
  </div>
  <app-scroll-top></app-scroll-top>
</div>

<ng-template #skeleton1>
  <!-- <main class="container mt-2">
    <div class="row">
      <div class="col-4 col-lg-2 p-2">
        <div class="user-img m-2 mr-auto ml-auto">
          <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
        </div>
      </div>
      <div class="col-8 col-lg-10 pt-3 sm-text-center">
        <h2 class="display-5 text-capitalize sm-mr-auto sm-ml-auto"></h2>
        <p class="lead sm-mr-auto sm-ml-auto"></p>
        <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
      </div>
    </div>
  </main> -->
  <section style="width: 100%; min-height: auto;">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="card ">
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 100%;"></h5>
            </div>
          </div>
          <div class="card ">
            <!-- <img class="card-img-top"  alt=" "> -->
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 150px;margin-left: -15px; width: 100%;"></h5>
            </div>
          </div>
          <div class="card ">
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 50px;margin-left: -15px; width: 100%;"></h5>
            </div>
          </div>
          <div class="card ">
            <div class="card-body text-center">
              <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 100%;"></h5>
            </div>
          </div>
          <div class="card ">
            <div class="card-body text-center">
              <div>
                <div>
                  <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                  </h5>
                  <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                  </h5>
                </div>
              </div>
              <div style="margin-top: 100px;">
                <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: 190px; width: 30%;float: left;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                </h5>
                <h5 class="card-title" style="height: 200px;margin-left: -15px; width: 30%;">
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row-4">
            <div class="col">
              <div class="card ">
                <div class="card-body text-center">
                  <h5 class="card-title" style="height: 1000px;margin-left: -15px; width: 100%;"></h5>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
