.text-muted :hover {
  color: rgb(24, 231, 24);

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

strong,
b {
  font-weight: 600;
}

ul,
ol {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.5em;
}

a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}

a:hover {
  color: #444;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}

.top-bar {
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.top-bar a {
  color: rgb(0, 0, 0);
}

/* .top-bar .contact-details {
        //border-left: 1px solid #f2f2f2;
        //padding-top: 8px;
    } */

.top-bar .contact-details li {
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 32px;
  border-left: 1px solid #f2f2f2;
}

.dropdown-item:active {
  background: white;
}

.top-bar .contact-details li:last-child {
  border-right: 1px solid #f2f2f2;
}

.top-bar .contact-details li a:before {
  color: rgb(0, 0, 0);
}

.top-bar .contact-details li:first-child a:before {
  display: none;
}

.top-bar .contact-details li a {
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  line-height: 32px;
}

/* Top Bar Social */

ul.social-list li {
  float: right;
  border-left: 1px solid #f2f2f2;
}

ul.social-list li a {
  display: inline-block;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
}

ul.social-list li:first-child {
  border-right: 1px solid #f2f2f2;
}

/* ul.social-list li a:hover {
        background: black;
    } */

ul.social-list li a i {
  font-size: 14px;
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-list li a:hover i {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
  color: #fff;
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(40%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-40%);
  }

  51% {
    opacity: 1;
  }
}

@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(40%);
  }

  50% {
    opacity: 0;
    -moz-transform: translate(-40%);
  }

  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    transform: translate(40%);
  }

  50% {
    opacity: 0;
    transform: translate(-40%);
  }

  51% {
    opacity: 1;
  }
}
.navhover {
  color: rgb(24, 231, 24);;
}
.register-button {
  border-radius: 5px;
  top: 10%;
  right: 5%;
  position: absolute;
  color: gray;
  border: 1px solid rgb(202, 201, 201);
  font-size: 12px;
}
.register-button:hover {
  color: rgb(24, 231, 24);;
  z-index: 1000;
}

.text-muted :hover {
  color: rgb(24, 231, 24);;
}
/* .div-shadow {
    -webkit-box-shadow: 3px 3px 5px 6px whitesmoke;
    -moz-box-shadow:    3px 3px 5px 6px whitesmoke;
    box-shadow:         3px 3px 5px 6px whitesmoke;
  } */
.form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  width: 70%;
}

.form > .textbox {
  outline: 0;
  height: 42px;
  width: 95%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.form > .textbox:focus {
  outline: 0;
  background-color: #fff;
}

.form > .button {
  outline: 0;
  background: none;
  background-color: rgba(255, 234, 166, 0.8);
  float: left;
  height: 42px;
  width: 46px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.form > .button:hover {
  background-color: rgb(24, 231, 24);
}
a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: rgb(24, 231, 24);
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 3px;
	margin-left: 60px;
	color: transparent;
  cursor: pointer;
  border: 0.5px solid rgb(142, 243, 83);
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 250px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

