<div class="container" *ngIf="loadPage">
  <div class="row" style="background: rgb(233, 235, 238); padding: 20px 0 20px 0;">
    <!--  -->
    <div class="col-3 account-sidebar">
      <div class="sidebar-head">
        <div class="profile-avatar" (fileOver)="fileOverBase1($event)"
          [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver1 }">

          <a alt="chọn ảnh mới" class="a-image" (click)="choosefile()">


            <cl-image public-id="{{imageUrl}}" style="border-radius: 50px;">
              <cl-transformation width="360" height="360" gravity="face" radius="max" crop="fill" background="#e9ebee">
              </cl-transformation>
              <cl-transformation width="180" crop="scale">
              </cl-transformation>
            </cl-image>

          </a>
          <input type="file" (change)="handleFiles($event)" id="fileChoose" accept="image/x-png,image/jpeg,image/jpg"
            style="width: 120px;height: 5px; z-index: 10000; opacity: 0;" />
          <input type="text" id="imageArray" style="width: 10px;height: 5px; opacity: 0;" />
        </div>
        <h3 class="title" style="text-align: center;">
          <a [routerLink]="['/member/info/', id]" title="Trang cá nhân">
            <span style="color: rgb(255, 124, 36);">{{user.name}}</span>
          </a>
        </h3>
        <div *ngIf="loading">

          <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
            <span class="sr-only">Loading...</span>
          </div>

          <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
            <span class="sr-only">Loading...</span>
          </div>

          <div class="spinner-grow text-success" role="status" style="height: 15px; width: 15px;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="mem-statis-box">
          <span class="headline">
            {{user.level}}
          </span>
          <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>

          <div class="text">
            <span class="user-lv1 "
              style="float: left; width: 20%; color: #00bcd4; font-size: 12px; font-weight: bold;">
              Newbee</span>
            <span class="user-lv1 "
              style="float: left; width: 20%; color: #ffc107;  font-size: 12px; font-weight: bold;">Tastee
            </span>
            <span class="user-lv1 "
              style="float: left;  width: 20%; color: #ff4f4f;  font-size: 12px; font-weight: bold;">Cookee
            </span>
            <span class="user-lv1 "
              style="float: left; width: 20%; color: #a930ca;  font-size: 12px; font-weight: bold;">Chefee
            </span>
            <span class="user-lv1 "
              style="float: left; width: 20%; color: #ff0834;  font-size: 12px; font-weight: bold;">
              Mastee</span>
          </div>
        </div>
      </div>

      <div class="sidebar-content">
        <ul class="list-unstyled">
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/personal/recipe/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-align-center" style="margin-right: 5px;"></span>CÔNG THỨC CỦA TÔI
            </a>
          </li>

          <li class="menu-list-a">
            <a class="hover-a" routerLink="/myGallery"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-bookmark" style="margin-right: 5px;"></span>BỘ
              SƯU TẬP CỦA TÔI
            </a>
          </li>
          <li class="menu-list-a">
            <a class="hover-a" [routerLink]="['/user/info/', id]"
              style="color: gray;font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
              <span class="fa fa-user" style="margin-right: 5px;"></span>THÔNG
              TIN TÀI KHOẢN
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="col-8 page-account-info" style="font-family: Arial, Helvetica, sans-serif">

      <h3>Thông tin cá nhân</h3>
      <ul class="nav nav-tabs" style="text-align: center;">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">
            Thông tin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pending"> Đổi mật khẩu</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container tab-pane active" style="width: 760px;">
          <br />
          <form [formGroup]="registerForm">
            <table class="table table-borderless table-condensed ">
              <tr>
                <td style="width: 200px;">

                </td>
                <td>
                  <h4>Thông tin giới thiệu</h4>
                </td>
              </tr>
              <tbody>
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">


                    Giới thiệu
                  </th>
                  <td>
                    <textarea class="form-control" formControlName="introduction" rows="3"></textarea>
                  </td>
                </tr>
                <tr>
                  <td style="width: 200px;">

                  </td>
                  <td>
                    <button class="btn btn-success" (click)="onSubmit()">
                      Lưu thay đổi
                    </button>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <td style="width: 200px;">

                  </td>
                  <td>
                    <h4>Thông tin tài khoản</h4>
                  </td>
                </tr>
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Email</th>
                  <td>
                    <input type="text" class="form-control" formControlName="email" name="email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.email">Mail chưa hợp lệ!</div>
                    </div>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Tên</th>
                  <td>
                    <input type="text" class="form-control" formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.maxlength">Tên không dài quá 20 ký tự</div>
                    </div>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Họ</th>
                  <td>
                    <input type="text" class="form-control" formControlName="lastName" />
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Năm sinh</th>
                  <td>

                    <select type="text" formControlName="birthday" style="width:25%; border-radius:10px; "
                      id="birthday">
                      <option [value]="year" *ngFor="let year of years">{{year}}</option>
                    </select>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Giới tính</th>
                  <td>
                    <div class="dropdown">
                      <select type="text" formControlName="gender"
                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                        style="width:25%; border-radius:10px; " id="gender">
                        <option [value]="1">Nam</option>
                        <option [value]="2">Nữ</option>
                        <option [value]="3">Không xác định</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">
                    Tình trạng hôn nhân
                  </th>
                  <td>
                    <div class="dropdown">
                      <select type="text" formControlName="materialStatus"
                        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                        style="width:50%; border-radius:10px; ">
                        <option [value]="1">Độc thân</option>
                        <option [value]="2">Mối quan hệ phức tạp</option>
                        <option [value]="3">Đang hẹn hò</option>
                        <option [value]="4">Đã kết hôn</option>
                        <option [value]="5">Quan hệ mở</option>
                      </select>

                    </div>
                  </td>
                </tr>
                <!--  -->
                <tr>
                  <th scope="col" style="text-align: right;width: 200px;">Chữ kí</th>
                  <td>
                    <textarea class="form-control" formControlName="signature" rows="3"></textarea>
                    <span style="color: red;font-size: 12px;">{{errorMessage}}</span>
                  </td>
                </tr>

                <tr>
                  <td style="width: 200px;"></td>
                  <td>

                    <button type="button" class="btn btn-success" style="margin-right: 3%;" (click)="onSubmit()">
                      Lưu thay đổi
                    </button>
                    <!-- <button type="button" class="btn btn-light" (click)="onClear()">Xóa thông tin</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <!--  -->
        <div id="pending" class="container tab-pane fade" style="width: 760px;">
          <br />
          <div class="container">
            <div class="row">
              <div class="col" style="width: 300px; padding: 50px;text-align: center;">
                <h6>BẠN MUỐN THAY ĐỔI MẬT KHẨU?</h6>
                <br><br>
                <form class="form-signin" (ngSubmit)="changePass()" [formGroup]="changePassForm"
                  style="width: 300px; margin-left: 150px;">

                  <input type="password" id="oldPassword" class="form-control" name="oldPassword"
                    formControlName="oldPassword" [ngClass]="{ 'is-invalid': passSubmitted && f1.oldPassword.errors }"
                    [(ngModel)]="userObject.oldPassword" placeholder="Mật khẩu cũ" title="Vui lòng điền mật khẩu cũ"
                    autocomplete="off" required autofocus />
                  <div *ngIf="passSubmitted && f1.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f1.oldPassword.errors.required">
                      Vui lòng không để trống kí tự
                    </div>
                    <div *ngIf="f1.oldPassword.errors.minlength">
                      Mật khẩu phải ít nhất 6 kí tự
                    </div>
                  </div>

                  <input type="password" id="password" class="form-control" name="password"
                    [ngClass]="{ 'is-invalid': passSubmitted && f1.password.errors }" formControlName="password"
                    placeholder="Mật khẩu mới" title="Please enter the password" autocomplete="off"
                    [(ngModel)]="userObject.password" required />
                  <div *ngIf="passSubmitted && f1.password.errors" class="invalid-feedback">
                    <div *ngIf="f1.password.errors.required">
                      Vui lòng không để trống kí tự
                    </div>
                    <div *ngIf="f1.password.errors.minlength">
                      Mật khẩu phải ít nhất 6 kí tự
                    </div>
                  </div>

                  <input type="password" id="confirmpass" class="form-control" name="confirmPassword"
                    [ngClass]="{ 'is-invalid': passSubmitted && f1.confirmPassword.errors }"
                    formControlName="confirmPassword" placeholder="Xác nhận mật khẩu"
                    title="Please re-enter the password" autocomplete="off" [(ngModel)]="confirmPass" required />
                  <div *ngIf="passSubmitted && f1.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f1.confirmPassword.errors.required">
                      Vui lòng xác nhận mật khẩu
                    </div>
                    <div *ngIf="f1.confirmPassword.errors.mustMatch">
                      Phải trùng khớp mật khẩu!
                    </div>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                    Thay đổi mật khẩu
                  </button>

                  <p style="text-align:center; color: red;font-size: 12px;">
                    {{ errorPassMessage }}
                  </p>
                </form>

              </div>
            </div>
          </div>
        </div>
        <!--  -->

      </div>


    </div>
  </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" 
  hidden>Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" style="height: auto;min-height: 600px;">
  <div class="modal-dialog modal-lg" role="document" style="height: auto;min-height: 600px;">
    <div class="modal-content" style="height: auto; margin-bottom: 50px;min-height: 600px;">
      <div class="modal-header">
        <ha class="modal-title" id="exampleModalLongTitle">Thông báo</ha>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container mt-40">
        
      </div>
    </div>
  </div>
</div> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#staticBackdrop"
  id="modal-button2">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thông báo hệ thống</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{message}}

      </div>
    </div>
  </div>
</div>
<app-scroll-top></app-scroll-top>