<div class="clearfix"></div>
<footer class="footer row w-100 pt-5" *ngIf="summary"
  style="background: white; border-top: 2px solid rgb(48, 194, 11);padding-top: 5px;box-shadow: inset;">
  <div class="row w-100" style="background: white;">
    <div class="col-4 text-center">
      <div class="jm-logo">
        <a class="text-center">
          <i><img style="height: 80px;width:auto;" src="../../../assets/images/logo.png" /></i>
        </a>
      </div>
      <small class="d-block mb-3 text-muted text-center">© 2020-2030</small>
    </div>
    <div class="col-4">
      <h5 style="color:rgb(48, 194, 11)">Thống kê</h5>
      <div class="row">
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><span>{{summary.recipeCount}}</span><a class="text-muted" routerLink="/recipe" (click)="clickMenu()">
                Công thức món chay</a>
            </li>
            <li><span>{{summary.galleryCount}}</span><a class="text-muted" routerLink="/gallery" (click)="clickMenu()">
                Bộ sưu tập</a></li>
            <li><span>{{summary.userCount}}</span><a class="text-muted" routerLink="/about" (click)="clickMenu()"> Thành
                viên</a></li>
          </ul>
        </div>
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><span>{{summary.loginCount}}</span><a class="text-muted"> Lượt đăng nhập</a></li>
            <li><span>{{summary.connectCount}}</span><a class="text-muted"> Lượt truy cập</a></li>
            <!-- <li><a class="text-muted" href="#"> Team feature</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h5 style="color:rgb(48, 194, 11)">Về chúng tôi</h5>
      <div class="row">
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><a class="text-muted" routerLink="/gioithieu" (click)="clickMenu()">Giới thiệu</a></li>
            <li><a class="text-muted" routerLink="/quydinh" (click)="clickMenu()">Quy định</a></li>
          </ul>
        </div>
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><a class="text-muted" routerLink="/chinhsachbaomat" (click)="clickMenu()">Chính sách</a></li>
            <li><a class="text-muted" routerLink="/chinhsachdiem" (click)="clickMenu()">Chính sách điểm</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>