<div class="clearfix"></div>
<footer class="footer" *ngIf="summary" style="background: white; padding-top: 10px;margin-top: 50px;">
  <div class="row" style="background: white;">
    <div class="col-12 col-md" style="margin-left:5%;">
      <i><img style="height: 80px;width:auto;margin-left: -10%;" src="../../../assets/images/logo.png" /></i>
      <small class="d-block mb-3 text-muted">© 2020-2030</small>
    </div>
    <div class="col-4 col-md">
      <h5 style="color:rgb(48, 194, 11)">Thống kê</h5>
      <div class="row">
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li>{{summary.recipeCount}}<a class="text-muted" routerLink="/recipe"> Công thức món chay</a></li>
            <li>{{summary.galleryCount}}<a class="text-muted" routerLink="/gallery"> Bộ sưu tập</a></li>
            <li>{{summary.userCount}}<a class="text-muted" routerLink="/about"> Thành viên</a></li>
          </ul>
        </div>
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li>{{summary.loginCount}}<a class="text-muted"> Lượt đăng nhập</a></li>
            <li>{{summary.connectCount}}<a class="text-muted"> Lượt truy cập</a></li>
            <!-- <li><a class="text-muted" href="#"> Team feature</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4 col-md">
      <h5 style="color:rgb(48, 194, 11)">Về chúng tôi</h5>
      <div class="row">
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><a class="text-muted" routerLink="/gioithieu">Giới thiệu</a></li>
            <li><a class="text-muted" routerLink="/quydinh">Quy định</a></li>
          </ul>
        </div>
        <div class="col -6 col-md">
          <ul class="list-unstyled text-small" style="font-size: 12px;">
            <li><a class="text-muted" routerLink="/chinhsachbaomat">Chính sách</a></li>
            <li><a class="text-muted" routerLink="/chinhsachdiem">Chính sách điểm</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
