
nav > .nav.nav-tabs {

  border: none;


}

#nav-home-tab {
  border-radius: 10px 0 0 10px;
  border: 1px solid #c0f072;
}

#nav-profile-tab {
  border-radius: 0 10px 10px 0;
  border: 1px solid #c0f072;
}

nav > div a.nav-item.nav-link {
  color: rgb(8, 8, 8);

}

#number {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 4px;

  background: #fff;
  border: 2px solid #c0f072;
  color: #c0f072;
  text-align: center;

  font: 16px Arial, sans-serif;
}

#number:focus {
  color: black;
  background-color: rgb(233, 230, 230);
}

nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: black;
  /*border: 2px solid #d7dad9;*/
  border-radius: 10px 10px;
  background-color: #f2faf3;
}

nav > div a.nav-item.nav-link.active:after {
  /*content: "";*/
  /* position: relative;
  bottom: -60px;
  left: -10%; */
  border: 2px solid #dad8d7;
  border-top-color: white;
  border-radius: 10px 10px;
}

.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  /*border: 1px solid #ddd;*/
  border-top: 5px solid #fcfffe;
  /* border-bottom:5px solid #e9d3d1; */
  padding: 30px 25px;
  width: 100%;
  height: auto;
}

nav > div a.nav-item.nav-link:hover {
  /*background-color: rgb(229, 240, 234);*/
  background-position: right center;
}

nav > div a.nav-item.nav-link:focus {
  font-weight: bolder;
  color: black;
  /*background-color: rgb(232, 240, 237);*/
  border-radius: 0.02 solid;

}

.nguyenlieu:hover {
  /*background: rgb(238, 238, 238);*/
  -webkit-tap-highlight-color: transparent;
}

.nguyenlieu:hover .buttonhover {
  color: #c0f072;
}

.nguyenlieu:hover .buttonhover:hover {
  color: #10c9f7;
}

.buttonhover:checked {
  color: #c0f072;
}
.buttonhover:hover {
  color: #10c9f7;
}

.buttoncheck {
  color: #c0f072;
}

.buttoncheck:hover {
  color: #10c9f7;
}

.spancheck {
  padding: 2px;
  border-radius: 5px 5px 5px;
  border: 0.5px dotted #c0f072;
}

.spanGroup-ingredient {
  padding: 2px;
  border-radius: 5px 5px 5px;
  border: 1px dotted lightblue;
}

.first {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

input[type=radio]:checked + label {
  color: #c0f072;
  font-size: 10px;
  font-style: normal;
  display: block;
}

.buttonhover2 {
  color: gray;
}

.buttonhover2:hover {
  color: #000;
}

input[type=radio] + label {
  color: white;
  display: none;
  font-style: italic;
}

#containerimage {
  position: relative;
  min-height: 320px;
}

.hover {
  background: white;
  opacity: 0.5;
}

#example {
  position: absolute;
  bottom: 0px;
  width: 95%;
  height: 100%;
  padding: 5px;
  background-color: white;
  border: 2px solid red;
}

.btn-outline-success:hover {
  background-color: white;
  color: #c0f072 !important;
  border: 1px solid #c0f072;
}

.btn-outline-success {
  background-color: #c0f072;
  color: white !important;
  border: none;
}

.register-button {
  padding: 0px 20px;
  background-color: #c0f072;
  cursor: pointer;
  color: white !important;
  height: 80px;
  width: 250px;
  border-radius: 5px;
  margin-left: 40%;
}

.register-button:hover {
  color: #c0f072 !important;
  background-color: white;
  border: 1px solid #c0f072;
}

