
nav > .nav.nav-tabs{

    border: none;
     
  
  }
  #nav-home-tab{
    border-radius:10px 0 0 0px;
  }
  #nav-profile-tab{
    border-radius:0 10px  0px 0;
  }
  nav > div a.nav-item.nav-link{
    color:rgb(8, 8, 8);
    
  }
  #number{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 4px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
  }
  #number:focus{
      color: black;
      background-color: rgb(233, 230, 230);
  }
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:black;
      border:2px solid #d7dad9;
      border-radius:10px 10px;
       background-color: rgb(230, 233, 232);
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    /* position: relative;
    bottom: -60px;
    left: -10%; */
    border:2px solid #dad8d7;
    border-top-color: white ;
    border-radius:10px 10px;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #fcfffe;
     /* border-bottom:5px solid #e9d3d1; */
      padding:30px 25px;
      width: 100%;
      height: auto;
  }
  nav > div a.nav-item.nav-link:hover{
    background-color: rgb(229, 240, 234);
    background-position: right center;}
  nav > div a.nav-item.nav-link:focus
  {
      font-weight: bolder;
    border: none;
    border:2px solid #d7dad8;
      color:black;
      background-color: rgb(232, 240, 237);
      border-radius:0.02 solid;
      
  }
  .nguyenlieu:hover{
    background: rgb(238, 238, 238);
    -webkit-tap-highlight-color: transparent;
  }
  .nguyenlieu:hover .buttonhover{
    color: red;
  }
  .buttonhover:hover{
    color: red;
  }
  .buttoncheck{
    color: darkcyan;
  }
  .spancheck{
    padding: 2px;
border-radius: 5px 5px 5px;
border: 1px dotted red;
  }
  .spanGroup-ingredient{
    padding: 2px;
border-radius: 5px 5px 5px;
border: 1px dotted lightblue;
  }
  .first {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  input[type=radio]:checked + label {
    color: lawngreen;
    font-size: 10px;
    font-style: normal;
    display: block;
  } 
  .buttonhover2{
    color: gray;
  }
  .buttonhover2:hover{
    color: #000;
  }
  input[type=radio] + label {
    color: white;
    display: none;
    font-style: italic;
  } 
  #containerimage {
    position: relative;    
}

#example {
   position: absolute;
bottom: 0px;
   width: 95%;
   height: 100%; 
   padding: 5px;
   background-color: white;
   border: 2px solid red;
}
  