<h5 style="margin-left: 3%;">DANH SÁCH BỘ SƯU TẬP</h5>
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (input)="keyUp()"
    placeholder="&#61442;  Từ khóa tìm kiếm">
</div>
<div *ngFor="let gallery of gallerys | LockFilter:searchText | orderBy: key : reverse| paginate: config; let i=index">

</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>STT</th>
        <th>
          Tên bộ sưu tập
        </th>
        <th>
          Người tạo
        </th>
        <th>Nội dung</th>
        <th>Tổng điểm</th>
        <th>Ảnh</th>
      </tr>
    </thead>
    <tbody *ngFor="let gallery of gallerys | filter:searchText| paginate: config; let i=index">

      <tr class="texthover">
        <td style="max-width: 50px;background: white; padding-top: 20px; text-align: center;">{{gallery.seq}}</td>
        <td style="max-width: 50px;background: white; padding-top: 20px; text-align: center;"
          [routerLink]="['/galleryDetail/', gallery._id]">
          {{gallery.name}}</td>
        <td style="max-width: 80px;background: white; padding-top: 20px; text-align: center;">{{gallery.user.name}}</td>
        <td style="max-width: 60px;background: white; padding-top: 20px; text-align: center;">{{gallery.content}}</td>
        <td style="max-width: 60px;background: white; padding-top: 20px; text-align: center;">{{gallery.totalPoint}}
        </td>
        <td [routerLink]="['/galleryDetail/', gallery._id]"
          style="max-width: 60px;background: white; padding-top: 20px; text-align: center;">
          <a title="{{gallery.image}}" class="ahover">
            <cl-image public-id="{{gallery.image}}">
              <cl-transformation aspect-ratio="1:1" gravity="auto" width="100" height="100" crop="fill">
              </cl-transformation>
            </cl-image>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 25%;"></pagination-controls>
</div>
<app-scroll-top></app-scroll-top>