<div class="container" style="backdrop-filter: blur(6px);">
  <div class="row justify-content-center wrapper" id="forgot-box">
    <div class="col-lg-10 my-auto myShadow">
      <div class="row">
        <div class="col-lg-7 bg-white p-4">
          <h1 class="text-center font-weight-bold text-primary" style="color:#1cc91f !important;">Bạn đã quên mật khẩu?</h1>
          <hr class="my-3"/>
          <p class="lead text-center text-secondary">Vui lòng nhập email đã đăng ký với hệ thống và chúng tôi sẽ gửi lại
            mật khẩu mới vào hòm thư của bạn!
          </p>
          <form id="register-form" role="form" autocomplete="off" class="px-3" method="post"
                (ngSubmit)="getPassword()" [formGroup]="registerForm">

            <div class="form-group">
              <div class="input-group">

                <div class="input-group input-group-lg form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0"><i class="fa fa-envelope fa-lg"></i></span>
                  </div>
                  <input type="text" id="email" class="form-control rounded-0" name="email" formControlName="email"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="userObject.email"
                         placeholder="Email" title="Please enter the email" autocomplete="off" required autofocus/>
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Vui lòng không để trống Email</div>
                  <div *ngIf="f.email.errors.email">Mail chưa hợp lệ!</div>
                </div>
                <br>
              </div>
            </div>
            <div class="form-group">
              <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                     style="background: rgb(24, 179, 4);padding: 5px auto; height: 50px;" type="submit">
            </div>

            <input type="hidden" class="hide" name="token" id="token" value="">
          </form>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
          <h1 class="text-center font-weight-bold text-white">Reset Password!</h1>
          <hr class="my-4 bg-light myHr"/>
          <a routerLink="/index" class=" font-weight-bolder  align-self-center" style="color: white !important;text-decoration: underline;" id="back-link">
            Quay lại
          </a>
        </div>
      </div>
    </div>
  </div>
