<h2>Danh sách thành viên</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users | paginate: config; let i=index">

      <tr>
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.token}}</td>
        <td>{{user.imageUrl}}</td>
        <td>{{user.totalPoint}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 25%;"></pagination-controls>

</div>